<div>
<style>
	div.fms_questionary_profiled div.header1
	{
		display: inline-block;
		margin-right: 5px;
	}
	div.fms_questionary_profiled div.data1
	{
		margin-left: 30px;
	}
	div.fms_questionary_profiled div.data
	{
		margin-left: 30px;
	}
	div.fms_questionary_profiled
	{
		width:900px;
		margin:0 auto;
	}
</style>
<div class="fms_questionary_profiled">
	<div class="data">
		<div class="row">
			<div class="header1">
				Идентификатор пользователя в ППО "Территория":
			</div>
			"<b><%= obj.content.employee.ummsId %></b>"
		</div>
		<div class="row">
			<div class="header1">
				Уникальный идентификатор системы, передающей данные, получаемый в ППО "Территория":
			</div>
			"<b><%= obj.content.supplierInfo %></b>"
		</div>
		<div class="row">
			<div class="header1">
				Код гостиницы, получаемый в ППО "Территория":
			</div>
			"<b><%= obj.content.hotel_id %></b>"
		</div>
		<div class="row">
			<div class="header1">Территориальный&nbspорган / структурное&nbspподразделение&nbspФМС:</div>
			<div class="data1">
				"<b><%= null==obj.content.subdivision || !obj.content.subdivision.text ? '' : obj.content.subdivision.text %></b>"
				(id: <b><%= null==obj.content.subdivision ? 'null' : obj.content.subdivision.id %></b>)
			</div>
		</div>
		<div class="row">
			<div class="header1">Налоговый&nbsp;орган:</div>
			<div class="data1">
				"<b><%= null==obj.content.sono || !obj.content.sono.text ? '' : obj.content.sono.text %></b>"
				(id: <b><%= null==obj.content.sono ? 'null' : obj.content.sono.id %></b>)
			</div>
		</div>
	</div>
</div>
</div>