body
{
    margin: 0px;
    padding: 0px;
}

div.body
{
    min-width: 1000px;
    min-height: 600;
}

div.container
{
    min-width:800px;
    min-height:480px;
    width: 1024px;
    margin:0 auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.container h1
{
    margin-top: 10px;
    margin-bottom: 5px;
}

div.container h1 a
{
    color: Black;
    text-decoration: none;
}

.head-warning
{
    color: Red;
    border-bottom: 1px solid silver;
    padding-bottom: 5px;
    margin-top: 5px;
}

.foot-copyright
{
	border-top: 1px solid silver;
	padding-top: 5px;
	margin-top: 25px;
}

div.container>div.profile
{
    margin-top: 15px;
    text-align: right;
    display: inline-block;
    float: right;
}

div.container>div.start>div.load
{
    text-align: right;
    display: inline-block;
    float: right;
}

#cpw-form-container div.ExtensionTitle
{
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: right;
    color: Silver;
}

#cpw-form-container div.buttons
{
    margin: 10px;
}

body>div.body>div.container>div.load-form>div.Title
{
    font-weight: bold;
    margin-top: 40px;
}

body>div.body>div.container>div.load-form form
{
    margin-left: 25px;
}

body>div.body>div.container>div.load-form
{
    margin-left: 50px;
}

body>div.body>div.container>div.load-form label
{
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    text-align: right;
}

body>div.body>div.container>div.load-form>form>div
{
    margin: 30px;
}

body>div.body>div.container>div.load-form .input
{
    width: 500px;
    margin-left: 20px;
}

body>div.body>div.container>div.load-form input
{
    margin-left: 20px;
}
