<style>
div.cpw-fms-addr-with-document
{
	width: 700px;
	margin: 0 auto;
}
div.cpw-fms-addr-with-document div.row
{
	display: inline-block;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
div.cpw-fms-addr-with-document div.item
{
	display: inline-block;
}
div.cpw-fms-addr-with-document div.item.document div.title
{
	display: inline-block;
	padding-left: 3px;
}
div.cpw-fms-addr-with-document div.item.document input
{
	width: 100%;
}
</style>
<div class="cpw-fms-addr-with-document">

	<div class="address">
		<%= obj.fields_control('address') %>
	</div>

	<div class="row">
		<div class="item document">
			<div class="title">Документ, подтверждающий право пользования жилым или иным помещением:</div>
			<input type="text" class="encoding_date" value="<%= obj.txt('document') %>" />
		</div>
	</div>

</div>