﻿<style>
div.cpw-russ-address-convert
{
	width: 810px;
	margin: 0 auto;
}
div.cpw-russ-address-convert textarea
{
	width: 800px;
	height: 150px;
}
div.cpw-russ-address-convert div.variants
{
	margin: 3px;
}
</style>
<div class="cpw-russ-address-convert">

	<div class="variants">
		Исходные варианты:<br/>
		<textarea <%= obj.textarea_attrs('orig') %> ><%= !obj.model ? '' : obj.model.orig %></textarea>
	</div>

	<div class="variants">
		Варианты из фиас: 
		<button class="from-free">Перестроить из исходных</button> <span class="from-free"></span>
		<br/>
		<textarea <%= obj.textarea_attrs('fias') %> ><%= !obj.model ? '' : obj.model.fias %></textarea>
	</div>

	<div class="variants">
		Вариантыв свободной форме, отконвертированные из фиас: 
		<button class="from-fias">Перестроить из фиас</button> <span class="from-fias"></span>
		<br/>
		<textarea <%= obj.textarea_attrs('free') %> ><%= !obj.model ? '' : obj.model.free %></textarea>
	</div>

</div>