<style>
div.cpw-fms-russ-addr
{
	width: 700px;
	margin: 0 auto;
	font-size: 16px;
}
div.cpw-fms-russ-addr .variant_fias span
{
	text-decoration:line-through;
}
div.cpw-fms-russ-addr .variant_fias span.checked
{
	text-decoration:none;
}
div.cpw-fms-russ-addr div.housing
{
	padding-top: 5px;
	padding-bottom: 5px;
}
div.cpw-fms-russ-addr div.housing div.item,
div.cpw-fms-russ-addr div.housing div.item div.title
{
	display: inline-block;
	text-align: right;
}
div.cpw-fms-russ-addr div.housing div.item div.title
{
	padding-right: 3px;
}
div.cpw-fms-russ-addr div.housing div.item1 div.title
{
	width: 92px;
	text-align: left;
	padding-left: 3px;
}
div.cpw-fms-russ-addr div.housing div.item2 div.title
{
	width: 136px;
}
div.cpw-fms-russ-addr div.housing div.item3 div.title
{
	width: 139px;
}
div.cpw-fms-russ-addr div.housing div.item4 div.title
{
	display: none;
	width: 110px;
}
div.cpw-fms-russ-addr div.housing1 div.item0 div.title
{
	width: 150px;
	text-align: left;
	padding-left: 3px;
}
div.cpw-fms-russ-addr div.housing1 div.item5 div.title
{
	width: 139px;
	padding-left: 4px;
}
div.cpw-fms-russ-addr div.housing1 div.item1 div.title,
div.cpw-fms-russ-addr div.housing1 div.item3 div.title
{
	visibility: hidden;
	width:0px;
}
div.cpw-fms-russ-addr div.housing1 div.item0,
div.cpw-fms-russ-addr div.housing1 div.item5,
div.cpw-fms-russ-addr div.housing1 div.item0 div.title,
div.cpw-fms-russ-addr div.housing1 div.item5 div.title
{
	visibility: visible !important;
}
div.cpw-fms-russ-addr div.housing div.item input
{
	width: 50px;
}
div.cpw-fms-russ-addr div.cpw-fms-fias-addr-select div.aolevel
{
	padding-left: 3px;
	width: 696px;
}
div.cpw-fms-russ-addr div.cpw-fms-fias-addr-select div.select
{
	margin-top: 1px;
}
div.cpw-fms-russ-addr div.cpw-fms-fias-addr-select div.select div.title
{
	width: 85px;
	padding-right: 12px;
	display: inline-block;
}
div.cpw-fms-russ-addr div.cpw-fms-fias-addr-select div.select div#cpw-fms-fias-addr-select-select2
{
	width: 600px;
}
div.cpw-fms-russ-addr div.footer
{
	padding-left: 98px;
	padding-top: 10px;
	padding-bottom: 10px;
}
div.cpw-fms-russ-addr div.footer div.fias
{
	float:right;
}
div.cpw-fms-russ-addr div.footer div.warning
{
	color: red;
	font-size: 14px;
}
</style>
<div class="cpw-fms-russ-addr">

	<div class="fias" style="min-height:143px">
		<%= obj.control('fias') %>
	</div>

	<div class="free" style="min-height:143px;display:none;">
		<%= obj.control('free') %>
	</div>

	<div class="housing <%= obj.model && obj.model.housing_types ? 'housing1' : '' %>">

<% if (obj.model && obj.model.housing_types) {%>
		<div class="item item0" style="visibility:hidden;">
			<div class="title" id="cpw-fms-addr-Дом_Type" <%= obj.select2_attrs('Дом_Type') %> ></div>
		</div>
<% } %>

		<div class="item item1">
			<div class="title">Дом: </div>
			<input type="text" class="encoding_date" value="<%= obj.txt('Дом') %>" />
		</div>

		<div class="item item2">
			<div class="title">Корпус: </div>
			<input type="text" class="encoding_date" value="<%= obj.txt('Корпус') %>" />
		</div>

<% if (obj.model && obj.model.housing_types) {%>
		<div class="item item5" style="visibility:hidden;">
			<div class="title" id="cpw-fms-addr-Квартира_Type" <%= obj.select2_attrs('Квартира_Type') %> ></div>
		</div>
<% } %>

		<div class="item item3">
			<div class="title">Квартира: </div>
			<input type="text" class="encoding_date" value="<%= obj.txt('Квартира') %>" />
		</div>

		<div class="item item4" style="visibility:hidden;">
			<div class="title">Комната: </div>
			<input type="text" class="encoding_date" value="<%= obj.txt('Комната') %>" />
		</div>

	</div>

	<div class="footer" >
		<div class="fias">
			<label class="variant_fias">
				<input type="checkbox" <%= obj.checkbox_attrs('variant_fias') %> <% if (obj.model && obj.model.onlyfias) { %>disabled="disabled"<% } %> />
				<span>Искать по <a href="#" onclick="alert('Федеральная Информационная Адресная Система');return false;">ФИАС</a></span>
			</label>
		</div>
		<div class="warning free">
			Будьте внимательны, заполняйте поля в соответствии с документом!
		</div>
	</div>

</div>