<div>
<style>
	div.abonent div.row
	{
	    margin: 5px 0 5px 0;
	}
	div.abonent div.header1
	{
		width: 230px;
		text-align: right;
		float:left;
		margin: 0;
		display:block;
	}
	div.abonent div.after_header1
	{
		margin: 0;
		padding-left:240px;
	}
	div.abonent div.column1_header2
	{
	    display: block;
	    float:left;
	}
	div.abonent div.last
	{
		margin: 0;
		padding-left:455px;
	}
	div.abonent div.last input
	{
	    width: 100%;
	}
	div.abonent div.header2
	{
	    text-align: right;
		width: 140px;
		display: inline-block;
	}
	div.abonent .column1
	{
		width: 300px;
		display: inline-block;
	}
	div.abonent input.full
	{
	    width: 100%;
	}
	div.abonent input.half
	{
	    width: 290px;
	}
	div.abonent input.inn
	{
	    width: 140px;
	}
	div.abonent input.kpp
	{
	    width: 139px;
	}
	input.error
	{
		background-color: #ffbebe !important;
	}
</style>
<div class="abonent">

	<div class="row">
		<div class="header1">Наименование компании:</div>
		<div class="after_header1">
			<input type="text" class="full" value="<%= obj.txt('Name') %>"/>
		</div>
	</div>

	<div class="row">
		<div class="header1">Краткое наименование:</div>
		<div class="after_header1">
			<input type="text" class="full" value="<%= obj.txt('ShortName') %>"/>
		</div>
	</div>

	<div class="row">
		<div class="header1">ИНН-КПП:</div>
		<div class="after_header1">
			<div class="column1_header2">
				<div class="column1">
					<input type="text" class="inn" id="cpw_abonent_inn" value="<%= obj.txt('Inn') %>"/>
					-
					<input type="text" class="kpp" value="<%= obj.txt('Kpp') %>"/>
				</div>
				<div class="header2">ОГРН/ОГРНИП:</div>
			</div>
			<div class="last">
				<input type="text" value="<%= obj.txt('OGRN') %>"/>
			</div>
		</div>
	<div>

	<div class="row">
		<div class="header1">Телефон:</div>
		<div class="after_header1">
			<div class="column1_header2">
				<div class="column1">
					<input type="text" class="half" value="<%= obj.txt('phone') %>"maxlength="11"/>
				</div>
				<div class="header2">Факс:</div>
			</div>
			<div class="last">
				<input type="text" value="<%= obj.txt('fax') %>"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="header1">E-mail:</div>
		<div class="after_header1">
			<div class="column1_header2">
				<div class="column1">
					<input type="text" class="half" value="<%= obj.txt('mail') %>"/>
				</div>
				<div class="header2">Веб-сайт:</div>
			</div>
			<div class="last">
				<input type="text" value="<%= obj.txt('site') %>"/>
			</div>
		</div>
	</div>

</div>
<div>