<style>
div.cpw-fms-addr-variants
{
	width: 700px;
	margin: 0 auto;
}
div.cpw-fms-addr-variants>div.select2
{
	padding-bottom: 30px;
}
</style>
<div class="cpw-fms-addr-variants">

	<div class="select2">
		<div id="cpw-fms-addr-variants-select2" ></div>
	</div>

	<div class="address">
		<%= obj.fields_control('address') %>
	</div>
</div>