<style>

@font-face
{
	font-family: "CPW-normal";
	src: url("images/Normal.eot");
}

@font-face
{
	font-family: "CPW-bold";
	src: url("images/Bold.eot");
}

.ui-dialog .ui-dialog-buttonset
{
	width: auto;
}
.ui-dialog .ui-dialog-buttonset .ui-button
{
	float: left;
}

div.cpw_bygeography_form
{
	width:900px;
	margin:0 auto;
}

.row
{
	margin-top: 5px;
	margin-bottom: 5px;
	display:inline-block;
	width:100%;
}

.row_splitter
{
	display:inline-block;
	width:100%;
	height:1px;
	margin-top: 2px;
	margin-bottom: 5px;
	background: #eeeeee;
}
</style>

<div style="font-size:16px;font-family:CPW-normal">
	<div class="cpw_bygeography_form cpw-fms-forms">
        <div class="bygeography-wrapper">
            <div style="width:100%;">
                <h2>Отчет о географии прибытия граждан РФ</h2>
            </div>

            <div class="search-form clearfix">
                <form id="bygeography-search">
                    <table id="search-table" class="form_table">
                        <tbody>
                            <tr>
                                <td class="left-column">
                                    с
                                    <div class='select2 value year-control' style="width:150px;" id="cpw_form_ReportingPeriodMonthFrom" <%= obj.select2_attrs('ReportingPeriodMonthFrom') %> ></div>
                                    по
                                    <div class='select2 value year-control' style="width:150px;" id="cpw_form_ReportingPeriodMonthTill" <%= obj.select2_attrs('ReportingPeriodMonthTill') %> ></div>
                                    месяц
                                </td>
                            </tr>
                            <tr>
                                <td class="left-column" style="padding-left:16px;">
                                    <div class='select2 value year-control' style="width:150px;" id="cpw_form_ReportingPeriodYear" <%= obj.select2_attrs('ReportingPeriodYear') %> ></div>
                                    года
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

		<div id="modal-log"></div>
		<div id="SendMessageLog" style="display: none; height: 380px !important;">
			<a href="#" class="close_log"><img src="images/close.png"></a>
			<h4 class="title" id="log-title">
				<img src="images/loader32.gif" />
				&nbsp;&nbsp;
				Обработка данных...
			</h4>
			<div id="SendMessageLogContent">
				<ul></ul>
			</div>
			<div style="margin-top: 20px;">
				<input type="button" id="btn-log-to-file" class="hidden" value="Сохранить подробный лог в файл" />
				<input type="button" id="btn-close-log" class="hidden" style="float: right;" value="Закрыть" />
			</div>
		</div>
</div>
