<style type="text/css">
#cpw_form_modal_Upload {
	display: none;
}
.cpw_form_modal_Upload label {
	cursor: pointer;
	margin: 0 5px;
	text-decoration: underline;
}
.cpw_form_modal_Upload li {
	list-style-type: none;
}
#cpw_form_modal_PreviewImage .remove_img {
	color: gray;
	cursor: pointer;
	font-size: 13px;
	margin-left: 20px;
	vertical-align: top;
}
#cpw_form_modal_PreviewImage .remove_img:hover {
	color: red;
	text-decoration: underline;
}
</style>
<div style="font-size:16px;font-family:CPW-normal">
	<div class="cpw-fms-forms cpw-forms-styles-default ">
		<div class="form-row">
			<div class="form-col-2">
				<div class="form-cc txt-right">
					<label for="migration-staying-xml">
						<span>Выберите файл:</span>
					</label>
				</div>
			</div>
			<div class="form-col-7">
				<div class="form-cc">
					<input type="file" name="migration-staying-xml" id="migration-staying-xml"/>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-col-2">
				<div class="form-cc txt-right">или</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-col-2 col-top">
				<div class="form-cc txt-right">
					<label for="migration-staying-text">
						<span>Вставьте содержимое:</span>
					</label>
				</div>
			</div>
			<div class="form-col-7 col-top">
				<div class="form-cc">
					<textarea type="file" name="migration-staying-text" id="migration-staying-text"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>