<div>
<style>
	div.fms_questionary_profiled div.data1
	{
	    margin-left: 30px;
	    font-weight: bold;
	}
	div.fms_questionary_profiled div.data
	{
	    margin-left: 30px;
	}
	div.fms_questionary_profiled
	{
		width:900px;
		margin:0 auto;
	}
</style>
<div class="fms_questionary_profiled">
	<div style="width:100%;margin-bottom:10px">
		<b>Регистрационная анкета проживающего</b> (Форма №5):<br/>
		Корешок (данные которые не редактируются, а берутся из профиля пользователя вносящего данные):
	</div>
	<div class="data">
		<div class="row">
			<div class="header1">Уникальный идентификатор системы, передающей данные, получаемый в ППО "Территория":</div>
			<div class="data1">
				"<%= obj.supplierInfo %>"
			</div>
		</div>
		<div class="row">
			<div class="header1">Территориальный&nbspорган / структурное&nbspподразделение&nbspФМС:</div>
			<div class="data1">
				"<%= null==obj.subdivision || !obj.subdivision.text ? '' : obj.subdivision.text %>" (id: <%= null==obj.subdivision ? 'null' : obj.subdivision.id %>)
			</div>
		</div>
		<div class="row">
			<div class="header1">
				Оператор, внесший дело
				<% if (obj.employee.name) { %>
					&nbsp;(строка, идентифицирующая пользователя (ФИО / логин))
				<% } %>
				<% if (obj.employee.ummsId) { %>
					&nbsp;(идентификатор пользователя в ППО "Территория")
				<% } %>
				:
			</div>
			<div class="data1">
				<% if (obj.employee.name) { %>
					"<%= obj.employee.name %>"
				<% } %>
				<% if (obj.employee.ummsId) { %>
					"<%= obj.employee.ummsId %>"
				<% } %>
			</div>
		</div>
	</div>
</div>
</div>