<style>
div.cpw_form_modal_Address
{
	width:700px;
	margin:0 auto;
}

div.cpw_form_modal_Address div.row
{
	margin-top: 18px;
	margin-bottom: 5px;
	display:inline-block;
	width:100%;
}

div.cpw_form_modal_Address div.column_1_title
{
	width: 60px;
	display: inline-block;
	text-align:right;
	color:gray;
	padding-right:5px
}

div.cpw_form_modal_Address .column_1_data
{
	width: 630px;
	display: inline-block;
	border:0;
	background-color:white;
}

div.cpw_form_modal_Address .column_2_data
{
	width: 235px;
	border:0;
	background-color:white;
}

div.cpw_form_modal_Address div.column_2_title
{
	width: 155px;
	text-align:right;
	color:gray;
	display:inline-block;
	padding-right:5px
}

div.cpw_form_modal_Address .column_3_data
{
	width: 134px;
	border:0;
	background-color:white;
}

div.cpw_form_modal_Address div.column_3_title
{
	width: 100px;
	text-align:right;
	color:gray;
	display:inline-block;
	padding-right:5px
}
div.cpw-arrd-street-spec
{
    float: right;
    color: Silver;
    font-size: 0.8em;
}
</style>
<div style="font-size:16px;font-family:CPW-normal;width:100%">
	<div class="cpw_form_modal_Address cpw-fms-forms">

		<div class="row">
			<div class="column_1_title">Страна:</div>
			<input class="column_1_data encoding_date" id="cpw_form_modal_Country" />
		</div>

		<div class="row">
			<div class="column_1_title">Регион:</div>
			<input class="column_2_data encoding_date" id="cpw_form_modal_Region" />

			<div class="column_2_title">Район:</div>
			<input class="column_2_data encoding_date" id="cpw_form_modal_Area" />
		</div>

		<div class="row">
			<div class="column_1_title">Город:</div>
			<input class="column_2_data encoding_date" id="cpw_form_modal_City" />

			<div class="column_2_title">Населённый пункт:</div>
			<input class="column_2_data encoding_date" id="cpw_form_modal_Town" />
		</div>

	</div>
</div>