<div>
<style>
	@font-face {
		font-family: "CPW-normal";
		src: url("images/Normal.eot");
	}
	@font-face {
		font-family: "CPW-bold";
		src: url("images/Bold.eot");
	}
	#_profile_user
	{
		margin-left: 30px;
	}
	div.profile_tab_level_content
	{
		margin-left: 20px;
	}
</style>
<div class="profile">
	<div id="profile-tabs-<%= obj.options.extension_key %>" style="font-family:CPW-normal">
		<div id="profile-tab-<%= obj.options.extension_key %>-1">
			<div id="<%= obj.options.extension_key %>_profile_abonent" class="profile_tab_level_content"/>
		</div>
	</div>
</div>
<div>