﻿<style>
	
@font-face {
	font-family: "CPW-normal";
	src: url("images/Normal.eot");
}

@font-face {
	font-family: "CPW-bold";
	src: url("images/Bold.eot");
}

.ui-dialog .ui-dialog-buttonset
{
	width: auto;
}
.ui-dialog .ui-dialog-buttonset .ui-button
{
	float: left;
}
.row
{
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  width:100%;
}

.row_splitter
{
  display:inline-block;
  width:100%;
  height:1px;
  margin-top: 2px;
  margin-bottom: 5px;
  background: #eeeeee;
}

.column_3_title
{
  width: 70px;
  float: left;
  text-align:right;
  color:gray;
}

.column_3_data
{
  width: 203px;
  float: left;
}

.column_3_data_title
{
  width: 273px;
  float: left;
}

.column_1_title
{
  width: 150px;
  float: left;
  text-align:right;
  color:gray;
}

.column_1_data
{
  width: 466px;
  float: left;
}

.column_1_data_title
{
  width: 750px;
  float: left;
}

.column_edit
{
  width:95%;
  margin-left:5px;
  border: 0;
}

.lat
{
  color:silver;
}

.section textarea {
  display: block;
  width: 99%;
}

div.cpw-fms-forms .edit_date
{
  width: 100px;
  margin-left:5px;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline_data_block
{
  float: left;
}

div.cpw_questionary_form
{
	width:900px;
	margin:0 auto;
}

div.cpw-fms-forms input
{
	width:auto;
}

div.cpw-fms-forms .cpw_form_radio
{
	width: 10px !important;
	height: 10px !important;
}

div.cpw-fms-forms .cpw_form_radio:focus
{
	width: 13px !important;
	height: 13px !important;
}

div.cpw-fms-forms .select2-choice
{
	border:0;
	background:none;
	padding: 0;
	text-decoration: none !important;
	color: black;
}

div.cpw-fms-forms a:focus
{
	font-weight: bold !important;
}

div.cpw-fms-forms .select2-choice div
{
	background:none;
	border-left-color:White;
}

div.cpw-fms-forms .select2-container .select2-choice div b
{
	background:none;
}

div.cpw-fms-forms abbr.select2-search-choice-close
{
	visibility:hidden;
}

div.cpw-fms-forms .select2-choice:hover abbr.select2-search-choice-close
{
	visibility:visible;
}

div.cpw-fms-forms .select2-choice:hover
{
	background-color:#eeeeee;
}

div.cpw-fms-forms .select2-container-active abbr.select2-search-choice-close
{
	visibility:visible;
}

.cpw_form_modal_Address
{
	width:700px;
	margin:0 auto;
}

.cpw_form_modal_Address .row
{
	margin-top: 18px;
	margin-bottom: 5px;
	display:inline-block;
	width:100%;
}

.cpw_form_modal_Address .column_1_title
{
	width: 60px;
	float: left;
	text-align:right;
	color:gray;
	padding-right:5px
}

.cpw_form_modal_Address .column_1_data
{
	width: 630px;
	float: left;
	border:0;
	background-color:white;
}

.cpw_form_modal_Address .column_2_data
{
	width: 235px;
	border:0;
	background-color:white;
}

.cpw_form_modal_Address .column_2_title
{
	width: 155px;
	text-align:right;
	color:gray;
	display:inline-block;
	padding-right:5px
}

.cpw_form_modal_Address .column_3_data
{
	width: 134px;
	border:0;
	background-color:white;
}

.cpw_form_modal_Address .column_3_title
{
	width: 100px;
	text-align:right;
	color:gray;
	display:inline-block;
	padding-right:5px
}

span.address-errors {
    margin-left: 20px;
}
input.error, .select2-container.error > a {
    background: #ffbebe !important;
}
span.error {
    color: #d02c33 !important;
    font-size: 13px;
}
.ui-tabs-nav a.error span {
    color: #d02c33 !important;
}

.cpw_questionary_form #form-tabs > ul > li > a > span
{
    font-size: 13px;
}

.cpw_questionary_form .ui-widget
{
    font-size: 14px;
}

.cpw_questionary_form #form-tabs .ui-widget-content, .cpw_questionary_form .ui-widget-content#form-tabs
{
	border: none !important;
	padding: 0 !important;
}
.cpw_questionary_form .input-document-status {
    width: 200px!important;
}
.cpw_questionary_form .input-total-width {
    width: 99%!important;
}
.cpw_questionary_form .input-visa-category {
    width: 340px!important;
}
.cpw_questionary_form .input-migration-kpp, .cpw_questionary_form .input-state-program {
    width: 290px!important;
}
.cpw_questionary_form .input-profession {
    width: 420px!important;
}
.cpw_questionary_form .inputmask-phone, .cpw_questionary_form .inputmask-inn {
    width: 175px!important;
}
.cpw_questionary_form .column_auto_title {
  width: 150px;
  display: inline-block;
  text-align:right;
  color:gray;
}
.cpw_questionary_form .column_auto_data {
  width: auto;
  display: inline-block;
}


div.cpw-fms-forms div#form-tabs
{
	min-height: 340px;
}

</style>

<div style="font-size:16px;font-family:CPW-normal">
	<div class="cpw_questionary_form cpw-fms-forms cpw-forms-attachments">

		<div style="width:100%;margin-bottom:10px;font-size:19px">
			<b>Адресный листок прибытия.</b> (Форма №2):
		</div>

		<div id="form-tabs">
			<ul>
				<li><a href="#form-tab-1"><span id="title-tab-1">Личные данные</span></a></li>
				<li><a href="#form-tab-2"><span id="title-tab-2">Регистрация</span></a></li>
				<li><a href="#form-tab-3"><span id="title-tab-3">Причина регистрации</span></a></li>
			</ul>
			<div id="form-tab-1">
				<div class="row">
					<div class="column_1_title">Фамилия:</div>
					<div class="column_3_data"><input class="column_edit" id="cpw_form_LastName" /></div>

					<div class="column_3_title">Имя:</div>
					<div class="column_3_data"><input class="column_edit" id="cpw_form_FirstName" /></div>

					<div class="column_3_title">Отчество:</div>
					<div class="column_3_data"><input class="column_edit" id="cpw_form_MiddleName" /></div>
				</div>
				<div class="row">

					<div class="column_1_title">Пол:</div>
					<div class="column_3_data_title">
						<input type="radio" class="cpw_form_radio" id="cpw_form_Sex_male"   name="Sex" value="male"/>
						<label for="cpw_form_Sex_male">М</label>
						<input type="radio" class="cpw_form_radio" id="cpw_form_Sex_female" name="Sex" value="female"/>
						<label for="cpw_form_Sex_female">Ж</label>
						<div style="float:right;color:gray">
							Дата рождения:
						</div>
					</div>
					<div class="column_3_data_title">
						<input type="text" class="edit_date" id="cpw_form_Birthday"/>
						<div style="float:right;color:gray">
							Гражданство:
						</div>
					</div>
					<div class="column_3_data">
						<input class="column_edit" id="cpw_form_Nationality" style="width:193px;" />
					</div>
				</div>
				<div class="row">
					<div class="column_1_title">Место рождения:</div>
					<div class="column_1_data_title">
						<a href="#" style="margin-left:5px;" id="cpw_form_Birthplace">
							Кликните, чтобы указать..
						</a>
					</div>
				</div>
				<div class="row_splitter"></div>
				<div class="row">
					<div class="column_1_title">Документ:</div>
					<div class="inline_data_block">
						<input class="column_edit" style="width:739px" id="cpw_form_DocumentType" />
					</div>
				</div>
				<div class="row">
					<div class="column_1_title">
						<span style="color:gray;">серия:</span>
					</div>
					<div class="column_3_data">
						<input type="text" class="edit_date encoding_date" id="cpw_form_DocumentSeries"/>
					</div>
					<div class="column_3_title">
						<span style="color:gray;">номер:</span>
					</div>
					<div class="column_3_data_title">
						<input type="text" class="edit_date encoding_date" id="cpw_form_DocumentNumber"/>
						<div style="float:right;color:gray">
							Дата выдачи:
						</div>
					</div>
					<div class="column_3_data">
						<input type="text" class="edit_date" id="cpw_form_DocumentGivenDate"/>
					</div>
				</div>
				<div class="row">
					<div class="column_1_title">Код подразделения:</div>
					<div class="column_3_data">
						<div class="edit_date" style="width:110px" id="cpw_form_DocumentGivenBy_code" <%= obj.select2_attrs('DocumentGivenBy_code') %> ></div>
					</div>
					<div class="column_3_title">Выдан:</div>
					<div class="column_3_data_title">
						<div class="column_edit" style="width:466px" id="cpw_form_DocumentGivenBy"  <%= obj.select2_attrs('DocumentGivenBy') %> ></div>
					</div>
				</div>
			</div>

			<div id="form-tab-2">
				<div class="row">
					<div class="column_1_title">Зарегистрирован с</div>
					<div class="column_3_data"><input type="text" class="edit_date" id="cpw_form_DateFrom"/></div>

					<div class="column_3_title">до</div>
					<div class="column_3_data"><input type="text" class="edit_date" id="cpw_form_DateTill"/></div>
				</div>
				<div class="row">
					<div class="column_1_title">по адресу:</div>
					<div class="column_1_data_title">
						<a href="#" style="margin-left:5px;" id="cpw_form_RegAddress">Кликните, чтобы указать..</a>
					</div>
				</div>
			</div>

			<div id="form-tab-3">
				<div class="row">Переменил(а) ФИО и прочие сведения с:</div>
				<div class="row">
					<div class="column_1_title">Фамилия:</div>
					<div class="column_3_data"><input class="column_edit" id="cpw_form_OldLastName" /></div>

					<div class="column_3_title">Имя:</div>
					<div class="column_3_data"><input class="column_edit" id="cpw_form_OldFirstName" /></div>

					<div class="column_3_title">Отчество:</div>
					<div class="column_3_data"><input class="column_edit" id="cpw_form_OldMiddleName" /></div>
				</div>
				<div class="row">
					<div class="column_1_title">Пол:</div>
					<div class="column_3_data_title">
						<input type="radio" class="cpw_form_radio" id="cpw_form_OldSex_male"   name="OldSex" value="male"/>
						<label for="cpw_form_OldSex_male">М</label>
						<input type="radio" class="cpw_form_radio" id="cpw_form_OldSex_female" name="OldSex" value="female"/>
						<label for="cpw_form_OldSex_female">Ж</label>
						<div style="float:right;color:gray">
							Дата рождения:
						</div>
					</div>
					<div class="column_3_data_title">
						<input type="text" class="edit_date" id="cpw_form_OldBirthday"/>
					</div>
				</div>
				<div class="row_splitter"></div>
				<div class="row">
					<div class="row">Сменил место пребывания</div>
				</div>
				<div class="row">
					<label><span style="display: inline-block;width: 150px;text-align: right;vertical-align: top;"><input type="checkbox" id="cpw_form_OldAddressSameCityAddress"/></span>&nbsp;<span style="display: inline-block;width: 300px;">в этом же населенном пункте</span></label>
				</div>
				<div class="row">
					<div class="column_1_title">с:</div>
					<div class="column_1_data_title">
						<a href="#" style="margin-left:5px;" id="cpw_form_OldAddress">Кликните, чтобы указать..</a>
					</div>
				</div>
				<div class="row_splitter"></div>
				<div class="row">
					<div class="section">
						<div class="row" style="width:150px;float:left;">Прочие причины:</div>
						<div class="column_1_data_title"><textarea cols="3" rows="3" id="cpw_form_OtherReason" class="encoding_date"></textarea></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><br/>
