<style>

div.cpw-forms-fms-mig-rereg .ui-helper-clearfix:after { padding-bottom: 0; }

.ui-dialog .ui-dialog-buttonset
{
	width: auto;
}
.ui-dialog .ui-dialog-buttonset .ui-button
{
	float: left;
}
.row
{
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  width:100%;
}

.row_splitter
{
  display:inline-block;
  width:100%;
  height:1px;
  margin-top: 2px;
  margin-bottom: 5px;
  background: #eeeeee;
}

.column_2_title
{
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  text-align:right;
  color:gray;
}

.column_3_title
{
  width: 70px;
  display: inline-block;
  vertical-align: middle;
  text-align:right;
  color:gray;
}

.column_2_data
{
  width: 220px;
  display: inline-block;
  vertical-align: middle;
}

.column_3_data
{
  width: 203px;
  display: inline-block;
  vertical-align: middle;
}

.column_3_data_title
{
  width: 273px;
  display: inline-block;
  vertical-align: middle;
}

.column_1_title
{
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  text-align:right;
  color:gray;
}

.column_1_data
{
  width: 750px;
  display: inline-block;
  vertical-align: middle;
}

.column_edit
{
  width:95%;
  margin-left:5px;
  border: 0;
}

div.cpw_questionary_form input.required_empty
{
    background-color: #fefefe;
    border-bottom: 1px solid #f1f1f1;
}

div.cpw_questionary_form input:hover
{
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}

div.cpw_questionary_form input:focus
{
    background-color: #f7f7f7;
    border-bottom: 1px solid #e0e0e0;
}

.lat
{
  color:silver;
}

div.cpw-fms-forms .edit_date
{
  width: 100px;
  margin-left:5px;
  border: 0;
}

.inline_data_block
{
  display: inline-block;
}

div.cpw_questionary_form
{
    width:900px;
    margin:0 auto;
}

div.cpw-fms-forms input
{
    width:auto;
}

div.cpw-fms-forms .cpw_form_radio
{
	width: 10px !important;
	height: 10px !important;
}

div.cpw-fms-forms .select2-choice
{
	border:0;
	background:none;
	padding: 0;
	text-decoration: none !important;
	color: black;
}

div.cpw-fms-forms a:focus
{
	font-weight: bold !important;
}

div.cpw-fms-forms .select2-choice div
{
	background:none;
	border-left-color:White;
}

div.cpw-fms-forms .select2-container .select2-choice div b
{
	background:none;
}

div.cpw-fms-forms abbr.select2-search-choice-close
{
	visibility:hidden;
}

div.cpw-fms-forms .select2-choice:hover abbr.select2-search-choice-close
{
	visibility:visible;
}

div.cpw-fms-forms .select2-choice:hover
{
	background-color:#eeeeee;
}

div.cpw-fms-forms .select2-container-active abbr.select2-search-choice-close
{
	visibility:visible;
}

.cpw_questionary_form #form-tabs > ul > li > a > span
{
    font-size: 13px;
}

.cpw_questionary_form .ui-widget
{
    font-size: 14px;
}

.cpw_questionary_form #form-tabs .ui-widget-content, .cpw_questionary_form .ui-widget-content#form-tabs
{
	padding: 0 !important;
	border: none !important;
}
.cpw_questionary_form .input-document-status {
    width: 200px!important;
}
.cpw_questionary_form .input-total-width {
    width: 99%!important;
}
.cpw_questionary_form .input-visa-category {
    width: 340px!important;
}
.cpw_questionary_form .input-migration-kpp, .cpw_questionary_form .input-state-program {
    width: 290px!important;
}
.cpw_questionary_form .input-profession {
    width: 350px!important;
}
.cpw_questionary_form .inputmask-phone, .cpw_questionary_form .inputmask-inn {
    width: 175px!important;
}
.cpw_questionary_form .column_auto_title {
  width: 150px;
  display: inline-block;
  text-align:right;
  color:gray;
}
.cpw_questionary_form .column_auto_data {
  width: auto;
  display: inline-block;
}
#cpw_form_Upload img, #cpw_form_UploadVisa img {
	margin-right: 5px;
}
.data-single-block-date {
	text-align: right;
	padding: 0 10px 0 60px;
	color: gray;
}
.scan-doc-styles {
	font-family: Verdana,Arial,sans-serif;
	font-size: 14px;
}
.scan-doc-styles .column_1_title {
	width: 360px;
}
.scan-doc-styles .column_1_data {
	width: 500px;
}
span.address-errors {
    margin-left: 20px;
}
input.error, .select2-container.error > a {
    background: #ffbebe !important;
}
span.error {
    color: #d02c33 !important;
    font-size: 13px;
}
.ui-tabs-nav a.error span {
    color: #d02c33 !important;
}

div.cpw-forms-fms-mig-rereg div#form-tabs>div
{
	min-height: 290px;
}

</style>

<div style="font-size:16px;font-family:CPW-normal">
	<div class="cpw_questionary_form cpw-fms-forms cpw-forms-fms-mig-rereg cpw-forms-attachments">

		<div style="width:100%;margin-bottom:10px;font-size:19px">
			<b>Корректировка данных о прибытии иностранного гражданина (или без гражданства)</b>:
		</div>
		<div id="form-tabs" <%= obj.tabs_attrs() %> >
			<ul>
				<li><a href="#form-tab-1"><span>Личные данные</span></a></li>
				<li><a href="#form-tab-2"><span>Данные о пребывании в РФ</span></a></li>
				<li><a href="#form-tab-4"><span>Прибытие</span></a></li>
				<li><a href="#form-tab-0"><span>Параметры уведомления</span></a></li>
			</ul>
			<div id="form-tab-0">
				<div class="row" style="padding:10px;">
					<div class="column_1_title" style="width:220px;">Дата приема уведомления:</div>
					<div class="column_1_data" style="width:300px;">
						<input id="cpw_form_Date" type="text" value="<%= obj.txt('notificationReceived') %>" class="edit_date required_empty input-datepicker" />
					</div>
				</div>
			</div>
			<div id="form-tab-1">
				<div class="row">
					<div class="column_1_title">Фамилия:</div>
					<div class="column_3_data"><input class="column_edit required_empty" id="cpw_form_LastName" value="<%= obj.txt('LastName') %>" /></div>

					<div class="column_3_title">Имя:</div>
					<div class="column_3_data"><input class="column_edit required_empty" id="cpw_form_FirstName" value="<%= obj.txt('FirstName') %>" /></div>

					<div class="column_3_title">Отчество:</div>
					<div class="column_3_data"><input class="column_edit required_empty" id="cpw_form_MiddleName" value="<%= obj.txt('MiddleName') %>" /></div>
				</div>

				<div class="row">
					<div class="column_1_title lat">лат:</div>
					<div class="column_3_data"><input class="column_edit required_empty" id="cpw_form_LastName_latin" value="<%= obj.txt('LastName_latin') %>" /></div>

					<div class="column_3_title lat">лат:</div>
					<div class="column_3_data"><input class="column_edit required_empty" id="cpw_form_FirstName_latin" value="<%= obj.txt('FirstName_latin') %>" /></div>
				</div>

				<div class="row">

					<div class="column_1_title">Пол:</div>
					<div class="column_3_data_title">
						<input type="radio" class="cpw_form_radio" id="cpw_form_Sex_male"   name="Sex" value="male"/>
						<label for="cpw_form_Sex_male">М</label>
						<input type="radio" class="cpw_form_radio" id="cpw_form_Sex_female" name="Sex" value="female"/>
						<label for="cpw_form_Sex_female">Ж</label>
						<div style="float:right;color:gray">
							Дата рождения:
						</div>
					</div>
					<div class="column_3_data_title">
						<input type="text" class="edit_date required_empty input-datepicker" id="cpw_form_Birthday" value="<%= obj.txt('Birthday') %>" />
						<div style="float:right;color:gray">
							Гражданство:
						</div>
					</div>
					<div class="column_3_data">
						<div class="column_edit" id="cpw_form_Nationality" style="width:193px" <%= obj.select2_attrs('Nationality') %> ></div>
					</div>
				</div>

				<div class="row">
					<div class="column_1_title">Место рождения:</div>
					<div class="column_1_data">
						<a href="#" style="margin-left:5px;" id="cpw_form_Birthplace" <%= obj.a_modal_attrs('Birthplace') %> >
							Кликните, чтобы указать..
						</a>
					</div>
				</div>

				<div class="row_splitter"></div>

				<div class="row">
					<div class="column_1_title">Документ:</div>
					<div class="inline_data_block">
						<div class="column_edit" style="width:739px" id="cpw_form_DocumentType" <%= obj.select2_attrs('DocumentType') %> ></div>
					</div>
				</div>

				<div class="row">
					<div class="column_1_title">
						<span style="color:gray;">серия:</span>
					</div>
						<input type="text" class="required_empty edit_date without_space encoding_date" id="cpw_form_DocumentSeries" value="<%= obj.txt('DocumentSeries') %>" style="width:40px;"/>
						&nbsp;
						&nbsp;
						<span style="color:gray;">номер:</span>
						<input type="text" class="required_empty edit_date without_space encoding_date" id="cpw_form_DocumentNumber" value="<%= obj.txt('DocumentNumber') %>" style="width:90px;"/>
						&nbsp;
						&nbsp;
						<span style="color:gray;">Дата выдачи:</span>
						<input type="text" class="required_empty edit_date input-datepicker" id="cpw_form_DocumentGivenDate" value="<%= obj.txt('DocumentGivenDate') %>" />
						&nbsp;
						&nbsp;
						<span style="color:gray;">Действителен до:</span>
						<input type="text" class="required_empty edit_date input-datepicker" id="cpw_form_DocumentFinishDate" value="<%= obj.txt('DocumentFinishDate') %>" />
				</div>
			</div>

			<div id="form-tab-2">
				<div class="row">
					<div class="column_1_title">Документ для РФ:</div>
					<div class="column_1_data">
						<div class="column_edit input-total-width" id="cpw_form_VisaType" <%= obj.select2_attrs('Visa_type') %> ></div>
					</div>
				</div>
				<div class="row">
					<div class="column_1_title">Категория визы:</div>
					<div class="column_auto_data">
						<div class="column_edit input-visa-category" id="cpw_form_VisaCategory" <%= obj.select2_attrs('Visa_category') %> ></div>
					</div>
					<div class="column_auto_title">Кратность визы:</div>
					<div class="column_auto_data">
						<div class="column_edit" style="width: 220px!important;" id="cpw_form_Visa_multiplicity" <%= obj.select2_attrs('Visa_multiplicity') %> ></div>
					</div>
				</div>

				<div class="row">
					<div class="column_1_title">
						<span style="color:gray;">серия:</span>
					</div>
					<input type="text" class="required_empty edit_date without_space encoding_date" id="cpw_form_VisaSeries" value="<%= obj.txt('Visa_series') %>" style="width:40px;"/>
					&nbsp;
					&nbsp;
					<span style="color:gray;">номер:</span>
					<input type="text" class="required_empty edit_date without_space encoding_date" id="cpw_form_VisaNumber" value="<%= obj.txt('Visa_number') %>" style="width:90px;"/>
					&nbsp;
					&nbsp;
					<span style="color:gray;">Дата выдачи:</span>
					<input type="text" class="required_empty edit_date input-datepicker" id="cpw_form_Visa_issued" value="<%= obj.txt('Visa_issued') %>" />
					&nbsp;
					&nbsp;
					<span style="color:gray;">Действителен до:</span>
					<input type="text" class="required_empty edit_date input-datepicker" id="cpw_form_ValidTo" value="<%= obj.txt('Visa_validTo') %>" />
				</div>
				<div class="row">
					<div class="column_1_title">Цель поездки:</div>
					<div class="column_2_data">
						<div class="column_edit required_empty" style="width:350px" id="cpw_form_Visa_visitPurpose" <%= obj.select2_attrs('Visa_visitPurpose') %> ></div>
					</div>
				</div>

				<div class="row_splitter"></div>

				<div class="row">
					<div class="column_1_title">Мигр. карта серия:</div>
					<input type="text" class="required_empty edit_date without_space encoding_date" id="cpw_form_MigrationCard_series" value="<%= obj.txt('MigrationCard_series') %>" style="width:40px;"/>
					&nbsp;
					&nbsp;
					<span style="color:gray;">номер:</span>
					<input type="text" class="required_empty edit_date without_space encoding_date" id="cpw_form_MigrationCard_number" value="<%= obj.txt('MigrationCard_number') %>" style="width:90px;"/>
					&nbsp;
					&nbsp;
					<span style="color:gray;">Дата въезда в РФ:</span>
					<input class="edit_date required_empty input-datepicker" id="cpw_form_stayPeriodMigCard_dateFrom" value="<%= obj.txt('MigrationCard_dateFrom') %>" />
					&nbsp;
					&nbsp;
					<span style="color:gray;">Дата выезда из РФ:</span>
					<input class="edit_date required_empty input-datepicker" id="cpw_form_stayPeriodMigCard_dateTo" value="<%= obj.txt('MigrationCard_dateTo') %>" />
				</div>

				<div class="row">
					<div class="column_1_title">КПП въезда:</div>
					<div class="column_auto_data">
						<div class="column_edit required_empty input-migration-kpp" id="cpw_form_MigKpp" <%= obj.select2_attrs('MigrationCard_kpp') %> ></div>
					</div>
					<div class="column_2_title">Цель въезда:</div>
					<div class="column_2_data">
						<div class="column_edit required_empty" style="width:200px" id="cpw_form_MigrationCard_visitPurpose" <%= obj.select2_attrs('MigrationCard_visitPurpose') %> ></div>
					</div>
				</div>

				<div class="row_splitter"></div>

				<div class="row">
					<div class="column_1_title">Профессия:</div>
					<div class="column_auto_data">
						<div class="column_edit required_empty input-profession" id="cpw_form_Profession" <%= obj.select2_attrs('Profession') %> ></div>
					</div>
				</div>

			</div>

			<div id="form-tab-4">

				<div class="row">
					<div class="column_1_title">цель прибытия:</div>
					<div class="column_2_data">
						<div class="column_edit required_empty" style="width:200px" id="cpw_form_entrancePurpose" <%= obj.select2_attrs('entrancePurpose') %> ></div>
					</div>
				</div>

				<div class="row">
					<div class="column_1_title">дата прибытия:</div>
					<div class="column_2_data">
						<input class="column_edit required_empty input-datepicker" id="cpw_form_stayPeriod_dateFrom" value="<%= obj.txt('stayPeriod_dateFrom') %>" />
					</div>

					<div class="column_3_title">убытия:</div>
					<div class="column_3_data">
						<input class="column_edit required_empty input-datepicker" id="cpw_form_stayPeriod_dateTo" value="<%= obj.txt('stayPeriod_dateTo') %>" />
					</div>
				</div>

				<div class="row">
					<div class="column_1_title">прежний адрес РФ:</div>
					<div class="column_1_data">
						<a href="#" style="margin-left:5px;" id="cpw_form_PreAddress" <%= obj.a_modal_attrs('PreAddress') %> >
							Кликните, чтобы указать..
						</a>
					</div>
				</div>

			</div>
		</div>
		<hr/>
	</div>
</div><br>
