<div>
<style>
	div.fms_questionary_profiled div.data1
	{
	    margin-left: 30px;
	    font-weight: bold;
	}
	div.fms_questionary_profiled div.data
	{
	    margin-left: 30px;
	}
	div.fms_questionary_profiled
	{
		width:900px;
		margin:0 auto;
	}
</style>
<div class="fms_questionary_profiled">
	<div style="width:100%;margin-bottom:10px">
		Корешок (данные которые не редактируются, но присутствуют в документе):
	</div>
	<div class="data">
		<div class="row">
			<div class="header1">
				Идентификатор пользователя в ППО "Территория":
				<b>"<%= obj.employee.ummsId %>"</b>
			</div>
		</div>
		<div class="row">
			<div class="header1">
				Уникальный идентификатор системы, передающей данные, получаемый в ППО "Территория":
				<b>"<%= obj.supplierInfo %>"</b>
			</div>
		</div>
		<div class="row">
			<div class="header1">Территориальный&nbspорган / структурное&nbspподразделение&nbspФМС:</div>
			<div class="data1">
				"<%= null==obj.subdivision || !obj.subdivision.text ? '' : obj.subdivision.text %>" (id: <%= null==obj.subdivision ? 'null' : obj.subdivision.id %>)
			</div>
		</div>
	</div>
</div>
</div>