﻿<style>
#scan-list div.field-hint
{
	display: inline-block;
	width: 10px;
	float:left;
}
#scan-list div.field
{
	display: inline-block;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
}
#scan-list div.invalid
{
	background-color: #ffd6d6;
}

#scan-list div.field div.question { display: none; }
#scan-list div.field div.clarification { display: inline-block !important; }

#scan-list div.field.invalid div.clarification
{
    display: none !important;
}
#scan-list div.field.invalid div.question
{ 
	display: inline-block !important;
	color: red;
	font-weight: bold;
}
</style>
<div id="scan-list">
	<div id="scans">
	</div>
	<div class="field">
		<div style="display:inline-block;float:left;"><a href="#null" id="add-scans" >Добавить скан документа..</a></div>
		<div class="field-hint" ><div class="question">?</div> <div class="clarification" >&nbsp;</div></div>
	</div>
	<div id="scans-notes"></div>
	<div id="modal-dialog-scan">
		<div id="modal-dialog-scan-content" class="image-content"></div>
	</div>
</div>