﻿<style>
.column_comment
{
	width:630px !important;
	border:0;
	margin-left:5px !important;
}
.column_add_comment,
.column_delete_comment
{
	margin-left: 5px;
	font-weight: normal !important;
	color: gray;
}
.hidden
{
	display: none !important;
}
</style>
<div class="doc-wrap w-full">
	<div style="overflow:hidden;">
		<span class="file" style="display: none;"><%= filepath %><% if (0) {%>c:\aaa\Скан_паспорта.jpg<% } %></span>
		<span class="content" style="display: none;"><%= content %></span>
		<a class="remove-doc right-edit" href="#" alt="удалить" title="удалить"></a>
		<u class="file-name"><%= name %><% if (0) {%>Скан_паспорта.jpg<% } %></u>
		&nbsp;(<span class="size"><%= size %></span>&nbsp;<span class="numbering_bytes"><%= sizetext %><% if (0) {%>135 Кб<% } %></span>)
		<table class="comment_holder"><tbody class="body_comment">
			<tr>
				<td class="image" style="width:32px;vertical-align:top;">
				<% var version_ie = navigator.userAgent.indexOf('IE 8');%>
				<% if (version_ie != -1) { %>
					<img style="max-width:50px" src="images/scan.png" />
				<% } else { %>
					<a class="scan-doc" href="#" style="padding-left:5px">
						<img style="max-width:50px" src="images/scan.png" />
					</a>
				<% } %>
				</td>
				<td class="coment"><div class="inline_data_block">
					<div class="column_comment scan_DocumentType" id="cpw_form_scan_DocumentType"></div>
					<a href="#" id="add-type" class="column_add_comment hidden">Добавить тип документа</a>
				</div></td>
			</tr>
		</tbody></table>
	</div>
</div>