﻿<div>
	<table>
		<tr>
			<td style="width:135px;"><span>Комментарий к документам:</span></td>
			<td style="vertical-align: top;"><textarea class="scan-note w-full" maxlength="50000" rows="3"><%= note %></textarea></td>
		</tr>
	</table>
</div>