<style>
div.cpw-fms-fias-addr-select
{
	width: 700px;
	margin: 0 auto;
}
div.cpw-fms-fias-addr-select>div.select>div#cpw-fms-fias-addr-select-select2
{
	width: 100%;
}
div.cpw-fms-fias-addr-select div.aolevel
{
	padding-top: 5px;
	padding-bottom: 5px;
}
div.cpw-fms-fias-addr-select div.aolevel input
{
	width: 550px;
}
div.cpw-fms-fias-addr-select div.aolevel div
{
	display: inline-block;
}
div.cpw-fms-fias-addr-select div.aolevel:hover
{
	background-color: #f0f0f0;
}
div.cpw-fms-fias-addr-select div.aolevel div.reselect
{
	float: right;
}
div.cpw-fms-fias-addr-select div.aolevel div.reselect div
{
	background-image:url('css/vendors/select2/select2.png');
	background-position-x:right;
	background-position-y:-11px;
	width:12px;
	height:12px;
	margin-top:6px;
	margin-right:27px;
}
div.cpw-fms-fias-addr-select div.aolevel div.title
{
	padding-right: 10px;
	width: 85px;
}
div.cpw-fias-obj-option
{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
}
div.cpw-fias-obj-option div.fias-obj-old-text
{
	display: inline-block;
	color: Silver;
	font-size: 0.8em;
	float: right;
	text-align: right;
}
div.cpw-fias-obj-option div
{
	display: inline-block;
	float: right;
	color: Silver;
	font-size: 0.8em;
	text-align: right;
}
li.select2-highlighted div.cpw-fias-obj-option strong
{
	color: black;
	background-color: rgb(255,209,104);
}
div.cpw-fias-obj-option span strong
{
	color: rgb(55,117,215);
}
div.cpw-fias-obj-option div strong
{
	color: rgb(137,173,225);
}
div.cpw-fms-fias-addr-select div.text-presentation-while-build-fias-path-by-id,
div.cpw-fms-fias-addr-select div.text-veil-while-ajax-request,
div.cpw-fms-fias-addr-select div.text-on-error-ajax-request
{
	margin-left: 20px;
}
div.cpw-fms-fias-addr-select div.text-veil-while-ajax-request { color: Green; }
div.cpw-fms-fias-addr-select div.text-on-error-ajax-request { color: Red; }
div.cpw-fms-fias-addr-select div.hidden
{
	display: none !important;
}
</style>
<div class="cpw-fms-fias-addr-select">
	<div class="hidden">
		<input id="fias_version" type="text" value="" />
	</div>
	<%	
		var aolevel_specs= (!obj.foreign_data || !obj.foreign_data.aolevel_specs) ? [] : obj.foreign_data.aolevel_specs;
		for (var i= 0; i<aolevel_specs.length; i++) 
		{
			aolevel_spec= aolevel_specs[i];
			var default_style= '';
			var default_style= 'display:none';
	%>
	<div class="aolevel aolevel_num<%= aolevel_spec.aolevel %>" style="<%= default_style %>">
		<div class="reselect"><a href="#" aolevel="<%= aolevel_spec.aolevel %>" ><div></div></a></div>
		<div class="title">
			<%= aolevel_spec.title %><% if (0) { %>Регион<% } %>:
		</div>
		<div class="value">
			<input value="<% if (0) { %>г Москва<% } %>" readonly="readonly"/>
		</div>
	</div>
	<%	} %>
	<div class="text-presentation-while-build-fias-path-by-id" style="display:none"></div>
	<div class="text-veil-while-ajax-request" style="display:none"></div>
	<div class="text-on-error-ajax-request" style="display:none"></div>
	<div class="select" id="select-fias-item">
		<div class="title">Адрес:</div>
		<div id="cpw-fms-fias-addr-select-select2" ></div>
	</div>
</div>