<div>
<style>
	div.cpw-fms-fias-variants div.header1
	{
		display: inline-block;
		margin-right: 5px;
		margin-top: 10px;
	}
	div.cpw-fms-fias-variants div.header2
	{
		display: inline-block;
		margin-right: 5px;
		margin-top: 20px;
	}
	div.cpw-fms-fias-variants div.data1
	{
		margin-left: 30px;
		margin-top: 5px;
	}
</style>
	<div class="cpw-fms-fias-variants">
		<div class="data">
			<div class="row">
				<div class="header1">
					Адресный объект "<%=obj.content.actual_txt%>" имеет несколько вариантов названия:
				</div>
				<% for (var i = 0; i < obj.content.variants_items.length; i++) { %>
				<%	if (1 == obj.content.variants_items[i].actstatus) { %>
				<div class="data1">
					<span id="<%= obj.content.variants_items[i].id %>"><b>"<%= obj.content.variants_items[i].text %>"</b> (актуальный)</span>
				</div>
				<%	} else { %>
				<%		var txtEndDate = !obj.content.variants_items[i].enddate ? '' : ' с ' + obj.content.variants_items[i].enddate.toLocaleDateString() %>
				<div class="data1">
					<span id="<%= obj.content.variants_items[i].id %>">"<%= obj.content.variants_items[i].text %>" (неактуальный<%= txtEndDate %>)</span>
				</div>
				<%	} %>
				<% } %>
				<div class="header2">
					Для МВД будет использоваться вариант "<%= obj.content.actual_txt %>"
				</div>
			</div>
		</div>
	</div>
</div>