<h5>Служебные данные:</h5>
<table>
<% for(var attr in attributes) { %>
	<tr>
		<td class="attr_name"><b><%= attr %></b> :</td>
		<td class="attr_value"><%= attributes[attr] %></td>
	</tr>
<% } %>
</table>