<div>
<style>
	div.extension
	{
	    margin-top: 12px;
	    margin-bottom: 12px;
	}
	div.extension>div.Header>div.Title
	{
	    font-weight: bold;
	    display: inline-block
	}
	div.extension>div.Header>div.Key::before { content: ' – '; }
	div.extension>div.Header>div.Key
	{
	    display: inline-block;
	    padding-left: 10px;
	    color: Silver;
	}
	div.extension>div.Forms
	{
	    padding-left: 20px;
	}
	div.extension>div.Forms>div.Form
	{
	    color: Silver;
	}
	div.extension>div.Forms>div.Form>div.Head
	{
	    display: inline-block;
	    min-width: 230px;
	}
	div.extension>div.Forms>div.Form>div.Head>.Title
	{
		margin-left: 5px;
	}
	div.extension>div.Forms>div.Form>div.Number
	{
	    display: inline-block;
	    padding: 2px;
	    color: black;
	}
	div.extension>div.Forms>div.Form>div.Number::after { content: ') '; }
	div.extension>div.Forms>div.Form>div.Key::before { content: ' – '; }
	div.extension>div.Forms>div.Form>div.Key
	{
	    display: inline-block;
	    padding: 2px;
	    min-width: 100px;
	}
	div.extension>div.Forms>div.Form>div.FileFormat::before { content: ' ( '; }
	div.extension>div.Forms>div.Form>div.FileFormat
	{
	    display: inline-block;
	    padding: 2px;
	}
	div.extension>div.Forms>div.Form>div.FileFormat>div.Description
	{
	    display: inline-block;
	    padding: 2px;
		min-width: 250px;
	}
	div.extension>div.Forms>div.Form>div.FileFormat>div.FileExtension::before { content: '– *.'; }
	div.extension>div.Forms>div.Form>div.FileFormat>div.FileExtension
	{
	    display: inline-block;
	    padding: 2px;
	}
	div.extension>div.Forms>div.Form>div.FileFormat::after { content: ' ) '; }
</style>
<div class="extensions">
	<% 
		for (var iExtension= 0; iExtension<obj.model.length; iExtension++)
		{
			var Extension= obj.model[iExtension];
	%>
	<div class="extension">
		<div class="Header">
			<div class="Title"><%= Extension.Title %></div>
			<div class="Key"><%= Extension.key %></div>
		</div>
		<div class="Forms">
			<%
				for (var iForm= 0; iForm<Extension.forms.length; iForm++)
				{
					var Form= Extension.forms[iForm];
			%>
			<div class="Form">
				<div class="Number"><%= iForm+1 %></div>
				<div class="Head"><a class="Title" href="javascript:void(0)"><%= Form.Title %></a></div>
				<div class="Key"><%= Form.key %></div>
				<div class="FileFormat">
					<div class="Description"><%= Form.FileFormat.Description %></div>
					<div class="FileExtension"><%= Form.FileFormat.FileExtension %></div>
				</div>
			</div>
			<%	} %>
		</div>
	</div>
	<%	} %>
</div>
<div>