<style>
div.cpw-fms-addr
{
	width: 700px;
	margin: 0 auto;
}
div.cpw-fms-addr div.select-country
{
	width: 700px;
}
div.cpw-fms-addr div.select-country #cpw-fms-addr-Country
{
	width: 600px;
}
div.cpw-fms-addr div.select-country div.title
{
	width: 85px;
	padding-right: 12px;
	display: inline-block;
}
div.cpw-fms-addr div.russianAddress
{
	min-height: 230px;
}
div.cpw-fms-addr div.foreignAddress
{
	margin-top: 2px;
	min-height: 230px;
}
div.cpw-fms-addr div.foreignAddress textarea
{
	width: 590px;
	height: 160px;
	margin-left: 52px;
	vertical-align:bottom;
}
div.cpw-fms-addr div.foreignAddress>.title
{
	padding-top: 5px;
	padding-bottom: 5px;
	display:inline-block;
	height: 160px;
}
div.cpw-fms-addr div.foreignAddress div.footer
{
	padding-left: 98px;
	padding-top: 10px;
	padding-bottom: 10px;
}
div.cpw-fms-addr div.foreignAddress div.footer .fias
{
	text-decoration:line-through;
	color:silver;
	float:right;
}
div.cpw-fms-addr div.foreignAddress div.footer .warning
{
	color: red;
	font-size: 14px;
}
div.cpw-fms-addr div.select-country-title
{
	display: inline-block;
}
</style>
<div class="cpw-fms-addr">

	<div class="select-country">
		<div class="title">Страна:</div>
		<div id="cpw-fms-addr-Country" <%= obj.select2_attrs('Country') %> ></div>
	</div>

	<div class="russianAddress">
		<%= obj.control('russianAddress') %>
	</div>

	<div class="foreignAddress" >
		<div class="title">Адрес:</div>
		<textarea <%= obj.textarea_attrs('unstructured') %>><%= !obj.model ? '' : obj.model.unstructured %></textarea>

		<div class="footer" >
			<div class="fias">
				<label class="variant_fias">
					<input type="checkbox" disabled="disabled"/>
					<span>Искать по <a href="#" onclick="alert('Федеральная Информационная Адресная Система');return false;">ФИАС</a></span>
				</label>
			</div>
			<div class="warning free">
				Будьте внимательны, заполняйте поля в соответствии с документом!
			</div>
		</div>

	</div>
</div>