<style>

@font-face
{
	font-family: "CPW-normal";
	src: url("images/Normal.eot");
}

@font-face
{
	font-family: "CPW-bold";
	src: url("images/Bold.eot");
}

.ui-dialog .ui-dialog-buttonset
{
	width: auto;
}
.ui-dialog .ui-dialog-buttonset .ui-button
{
	float: left;
}

div.cpw_register_form
{
	width:900px;
	margin:0 auto;
}

.row
{
	margin-top: 5px;
	margin-bottom: 5px;
	display:inline-block;
	width:100%;
}

.row_splitter
{
	display:inline-block;
	width:100%;
	height:1px;
	margin-top: 2px;
	margin-bottom: 5px;
	background: #eeeeee;
}
</style>

<div style="font-size:16px;font-family:CPW-normal">
	<div class="cpw_register_form cpw-fms-forms">
		<div class="register-wrapper">
			<div style="width:100%;">
				<h2>Реестр учета гостей</h2>
			</div>

			<div class="search-form clearfix">
				<form id="register-search">
					<table id="search-table" class="form_table">
						<tbody>
							<tr>
								<td class="left-column">
									зарегистрированных
								</td>
								<td>
									с
									<input class="w-120 d-picker start" type="text" style="position: relative; margin: 0px 6px 0px 6px;"
										   id="cpw_form_ReportingPeriodFrom" maxlength="10" value="<%= obj.txt('ReportingPeriodFrom') %>" />
									по
									<input class="w-120 d-picker finish" type="text" style="position: relative; margin: 0px 5px 0px 6px;"
										   id="cpw_form_ReportingPeriodTill" maxlength="10" value="<%= obj.txt('ReportingPeriodTill') %>" />
									включительно
								</td>
							</tr>
							<tr>
								<td class="left-column">отсортированные по</td>
								<td>
									<select class="sort-select w-460" id="cpw_form_ReportingSort" style="margin-left:4px;" <%= obj.select_attrs('ReportingSort') %>>
										<option value="start">Ф.И.О</option>
										<option value="finish">Дате и времени регистрации</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="left-column">указывать ф.и.о. латиницей</td>
								<td>
									<label><input type="checkbox" name="cpw_form_ShowLatinName" <%= obj.checkbox_attrs('ShowLatinName') %>></label><br />
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>

		<div id="modal-log"></div>
		<div id="SendMessageLog" style="display: none; height: 380px !important;">
			<a href="#" class="close_log"><img src="images/close.png"></a>
			<h4 class="title" id="log-title">
				<img src="images/loader32.gif" />
				&nbsp;&nbsp;
				Обработка данных...
			</h4>
			<div id="SendMessageLogContent">
				<ul></ul>
			</div>
			<div style="margin-top: 20px;">
				<input type="button" id="btn-log-to-file" class="hidden" value="Сохранить подробный лог в файл" />
				<input type="button" id="btn-close-log" class="hidden" style="float: right;" value="Закрыть" />
			</div>
		</div>
</div>
