﻿<style>
div.collection table
{
	width: 100%;
	padding: 10px;
}
div.collection table td
{
	padding: 10px;
}
</style>
<div class="collection">

	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>

	<div <%= obj.not_empty_attrs() %> >
		<table>
		<% while (obj.iterate()) { %>
			<tr <%= obj.item_attrs() %> >
				<td>
					<%= obj.item_position1() %>
						<% if (obj.is_seed()) { %>1<% } %>
					<%= obj.item_position1_end() %>)
				</td>
				<td>
					<a href="#null" class="do_edit"  >
						<%= obj.text_field('text') %>
							<% if (obj.is_seed()) { %>первый элемент коллекции<% } %>
						<%= obj.text_field_end() %>
					</a>
				</td>
				<td>
					<a href="#null" class="do_delete" >Удалить</a>
				</td>
			</tr>
		<% } %>
		</table>
	</div>

	<a href="#null" class="do_add" >Добавить..</a>
</div>
<%
var on_delete= function(e)
{
	e.preventDefault();
	var bitem= obj.find_binding_for_item($(this));
	var model_item= obj.model[bitem.i_item];
	if (confirm('Вы действительно хотите удалить запись "' + model_item.text + '" ?'))
	{
		obj.model.splice(bitem.i_item,1);
		obj.update_dom();
	}
};
var on_edit= function(e)
{
	e.preventDefault();
	var bitem= obj.find_binding_for_item($(this));
	var model_item= obj.model[bitem.i_item];
	var title=
		"Редактирование " + (!obj.options.title ? "" : obj.options.title) + ' (' + bitem.i_item + ' элемент)';

	obj.options.item_modal_controller
	(
		model_item,
		title,
		function(){obj.update_dom()}
	)
	.ShowModal(e);
};
var on_add= function(e)
{
	e.preventDefault();
	var model_item= obj.options.create_model();
	var title=
		"Регистрация " + (!obj.options.title ? "" : obj.options.title);

	obj.options.item_modal_controller
	(
		model_item,
		title,
		function()
		{
			obj.model.push(model_item);
			obj.update_dom();
			obj.on_after_render();
		}
	)
	.ShowModal(e);
};
obj.on_after_render= (function(on_add,on_edit,on_delete)
{
	return function()
	{
		var on_delete_handler= {click:on_delete};
		$(obj.form_div_selector + ' .do_delete').off(on_delete_handler).on(on_delete_handler);

		var on_edit_handler= {click:on_edit};
		$(obj.form_div_selector + ' .do_edit').off(on_edit_handler).on(on_edit_handler);

		var on_add_handler= {click:on_add};
		$(obj.form_div_selector + ' .do_add').off(on_add_handler).on(on_add_handler);
	}
})
(on_add,on_edit,on_delete);
%>