<style>

div.cpw-forms-fms-profile .ui-helper-clearfix:after { padding-bottom: 0; }

div.cpw-forms-styles-default .ui-widget
{
	font-size: 1em;
}

div.cpw-forms-fms-profile div.tabs-header,
div.cpw-forms-fms-profile div.tabs-footer
{
	height: 4px;
}

div.cpw-forms-fms-profile div.note
{
	color:Silver;
	text-align: right;
	width: 100%;
}

div.cpw-forms-fms-profile div.data
{
	margin-left: 1%;
	width: 99%;
}

div.cpw-forms-fms-profile div.row
{
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
}

div.cpw-forms-fms-profile div.select2
{
	display: inline-block;
	border: 1 solid black;
	width: 712px;
}

div.cpw-forms-fms-profile div.select2 .select2-choice
{
	background-image: none;
	background: inherit;
	min-height: 3.5em;
	max-height: 3.5em;
}

.ui-dialog .ui-dialog-buttonset
{
	width: auto;
}
.ui-dialog .ui-dialog-buttonset .ui-button
{
	float: left;
}
div.select2-result-label div.cpw-fms-official-organ
{
	display: inline-block;
	width: 100%;
	background-image: none;
	background: inherit;
}

div.select2-result-label div.cpw-fms-official-organ div.code
{
	float: right;
	height: 100%;
	padding: 1px;
	margin: 1px;
	color: Silver;
	font-style: italic;
	font-size: 0.8em;
	background-image: none;
	background: inherit;
}

div.cpw-forms-fms-profile div.select2 div.cpw-fms-official-organ
{
	float: left;
	display: inline-block;
	position: relative;
	width: 540px;
	white-space: normal;
	border: 0;
	background-image: none;
	background: inherit;
}

div.cpw-forms-fms-profile div.select2 div.cpw-fms-official-organ div.name,
div.cpw-forms-fms-profile div.select2 div.cpw-fms-official-organ div.code
{
	float: left;
	display: block;
	overflow:hidden;
	padding: 1px;
	margin: 1px;
	border:0;
	position:relative;
	float: left;
	background-image: none;
	background: inherit;
}

div.cpw-forms-fms-profile div.select2 div.cpw-fms-official-organ div.name
{
	width: 450px;
}

div.cpw-forms-fms-profile div.select2 div.cpw-fms-official-organ div.code
{
	font-style: italic;
	font-size: 0.8em;
	width: 80px;
	float:right;
	color: Silver;
}

div.cpw-forms-fms-profile {
	width: 900px;
	margin: 0 auto;
	font-size: 16px;
}

div.cpw-forms-fms-profile .profile-title
{
	font-weight: bold;
	font-size: 14px;
	padding: 5px 0 5px;
}

div.cpw-forms-fms-profile a.address-line-profile-remove{
	margin: 0 5px 0;
	color: gray;
	font-size: 12px;
}

div.cpw-forms-fms-profile span.txt-description {
	font-size: 12px;
	font-style: italic;
	color: #999;
}

div.cpw-forms-fms-profile div.fms_select2
{
	padding-left:152px;
}

div.cpw-forms-fms-profile div.section
{
	padding-left:12px;
}

div.cpw-forms-fms-profile div.section>div
{
	padding: 3px;
	min-height: 22px;
}

div.cpw-forms-fms-profile div.section div.organization_title
{
	width: 165px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

div.cpw-forms-fms-profile div.section div.np_title
{
	width: 165px;
	display: inline-block;
	text-align: right;
}

div.cpw-forms-fms-profile div.section div.np_title2
{
	width: 100px;
	display: inline-block;
	text-align: right;
}

div.cpw-forms-fms-profile div.section .np_data
{
	width: 162px;
	display: inline-block;
}
#cpw-forms-fms-profile-tab-cur,
#cpw-forms-fms-profile-tab-col,
#cpw-forms-fms-profile-tab-adr,
#cpw-forms-fms-profile-tab-leg,
#cpw-forms-fms-profile-tab-ppo
{
	min-height: 290px;
}
.hidden
{
	display: none !important;
}
</style>
<div id="<%= obj.options.extension_key %>" class="cpw-forms-fms-profile cpw-forms-styles-default">

	<div class="tabs-header"></div>
	<div class="tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-forms-fms-profile-tab-cur">Текущая смена</a></li>
			<li><a href="#cpw-forms-fms-profile-tab-col">Ответственные</a></li>
			<li><a href="#cpw-forms-fms-profile-tab-adr">Размещение</a></li>
			<li><a href="#cpw-forms-fms-profile-tab-leg">Абонент</a></li>
			<li><a href="#cpw-forms-fms-profile-tab-ppo">в ППО "Территория"</a></li>
			<li><a href="#cpw-forms-fms-profile-tab-roo">Деятельность</a></li>
		</ul>
		<div id="cpw-forms-fms-profile-tab-cur">
			<style>
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-cur div.row div.title
			{
				margin-top: 5px;
				margin-bottom: 5px;
				margin-left: 1%;
				width: 100%;
				display: inline-block;
				padding: 10px;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-cur div.row .value
			{
				margin-left: 5%;
				width: 95% !important;
			}
			</style>
			<b>Текущие настройки заполнения документов "по умолчанию"</b><br/>
			<div class="note">(можно менять в начале каждой смены)</div>
			<div class="data">
				<div class="row">
					<div class="title">Ответственный сотрудник, проводящий регистрацию:</div>
					<div class='select2 value' id="CurrentColaborator" <%= obj.select2_attrs('CurrentColaborator') %> ></div>
				</div>
				<div class="row">
					<div class="title">Адрес размещения (прибытия):</div>
					<div class='select2 value' id="CurrentAddressOfPlacement" <%= obj.select2_attrs('CurrentAddressOfPlacement') %> ></div>
				</div>
			</div>
		</div>

		<div id="cpw-forms-fms-profile-tab-col">
			<b>Ответственные сотрудники, осуществляющие учёт:</b>
			<div class="note">(могут вписываться в документы)</div>
			<div class="data">
				<%= obj.control('ResponsibleOfficiers')  %>
			</div>
			<div class="data" style="bottom: 0px; margin-top: auto; margin-bottom: 20px; position: absolute;">
				<label><input type="checkbox" <%= obj.checkbox_attrs('CheckResponsibleOfficier') %> /><span>Запрашивать ф.и.о. ответственного лица при создании отчета</span></label>
			</div>
		</div>
		
		<div id="cpw-forms-fms-profile-tab-adr">
			<b>Адреса размещения:</b>
			<div class="note">(могут вписываться в документы как адреса пребывания)</div>
			<div class="data">
				<%= obj.control('AddressesOfPlacement')  %>
			</div>
		</div>

		<div id="cpw-forms-fms-profile-tab-leg">
			<style>
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-leg div.row div.title
			{
				margin-top: 5px;
				margin-bottom: 10px;
				margin-right:10px;
				width: 235px;
				display: inline-block;
				text-align: right;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-leg div.row .value
			{
				display: inline-block;
				vertical-align: top;
				width: 590px !important;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-leg div.row .value2
			{
				width: 560px !important;
				display: inline-block;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-leg div.row div.value-container
			{
				margin-top: 5px;
				display: inline-block;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-leg div.row .value a,
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-leg div.row .value input
			{
				margin-top: 5px;
				margin-bottom: 5px;
			}
			</style>
			<b>Данные о принимающей стороне:</b>
			<div class="note">(будут вписываться в документы)</div>
			<div class="data">
				<div class="row">
					<div class='title'>Фирменное название:</div>
					<div class="value-container">
						<input type="text" value="<%= obj.txt('OrganizationName') %>" class="value2" maxlength="250" />
					</div>
				</div>

				<div class="row">
					<div class='title'>Код ОКПО:</div>
					<div class="value-container">
						<input type="text" value="<%= obj.txt('OKPO') %>" class="np_data" maxlength="10" />
					</div>
				</div>

				<div class="row">
					<div class='title'>Телефон:</div>
					<div class="value-container">
						<input type="text" value="<%= obj.txt('OrganizationPhone') %>" class="np_data" maxlength="11"/>
					</div>
				</div>

				<div class="row">
					<div class='title'>Фактический адрес офиса: </div>
					<div class="value-container">
						<a href="#" id="cpw_fms_profile_AddressRealAbonent" <%= obj.a_modal_attrs('AddressRealAbonent') %> > Кликните, чтобы указать адрес..</a>
					</div>
				</div>

				<div class="row">
					<div class='title'>Подразделение ФМС:</div>
					<div class='select2 value' id="cpw_fms_profile_subdivision" <%= obj.select2_attrs('subdivision') %> ></div>
				</div>

				<div class="row">
					<div class='title'>Налоговый орган:</div>
					<div class='select2 value' id="cpw_fms_profile_sono"  <%= obj.select2_attrs('sono') %> ></div>
				</div>

			</div>
		</div>

		<div id="cpw-forms-fms-profile-tab-ppo">
			<style>
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-ppo div.data
			{
				margin-top: 10px;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-ppo div.row
			{
				margin-top: 10px;
				margin-bottom: 2px;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-ppo div.row input
			{
				text-align: right;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-ppo div.row .title
			{
				display: inline-block;
				width: 270px;
				text-align: right;
				margin-right: 5px;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-ppo div.row div.note
			{
				font-size: 0.8em;
			}
			div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-ppo input.ppo_data
			{
				width: 180px;
				text-align: right;
			}
			</style>
			<b>Регистрационные данные в ППО "Территория":</b>
			<div class="note">(получаются при регистрации и указываются в электронных документах)</div>

			<div class="data">
				<div class="row">
					<div class="title">Идентификатор поставщика:</div>
					<input class="ppo_data" type="text" value="<%= obj.txt('supplierInfo') %>" />
					&nbsp;<span class="txt-description">&mdash; например, 1800000008002001</span>
					<div class="note">
						(в xml: supplierInfo,<br/>
						'Уникальный идентификатор системы, передающей данные, получаемый в ППО "Территория"'.<br/>
						Выдаётся ФМС при регистрации договора на передачу документов в электронном виде)
					</div>
				</div>

				<div class="row">
					<div class="title">Идентификатор пользователя:</div>
					<input class="ppo_data" type="text" value="<%= obj.txt('employee_ummsId') %>" />
					&nbsp;<span class="txt-description">&mdash; например, 1001</span>
					<div class="note">
						(в xml: employee/ummsId,<br/>
						'Идентификатор пользователя в ППО "Территория"'.<br/>
						Выдаётся при регистрации в ППО "Территория", 
						обычно 4 последние цифры предыдущего параметра)
					</div>
				</div>

				<div class="row">
					<div class="title">Код гостиницы:</div>
					<input class="ppo_data" type="text" value="<%= obj.txt('hotel_id') %>" />
					&nbsp;<span class="txt-description">&mdash; например, "780"-100 или "780100"</span>
					<div class="note">
						(в xml: notificationNumber - часть после первого слэша - код_уфмс,<br/>
						№ уведомления в формате отметка/код_уфмс/год/порядковый_номер, где:
									* код_уфмс - код подразделения УФМС)
					</div>
				</div>

			</div>

		</div>
		<div id="cpw-forms-fms-profile-tab-roo">
			<style>
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.row div.title {
					margin-top: 5px;
					margin-bottom: 10px;
					margin-right: 10px;
					width: 240px;
					display: inline-block;
					text-align: right;
				}

				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.row div.title1 {
					margin-top: 5px;
					margin-bottom: 10px;
					margin-left: 1%;
					width: 100%;
					display: inline-block;
				}

				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.row .value {
					display: inline-block;
					vertical-align: top;
					width: 580px !important;
				}

				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.row div.value-container {
					margin-top: 5px;
					display: inline-block;
				}

				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.subrow {
					margin-top: -6px;
					margin-bottom: 8px;
				}
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.row .value-blok input {
					margin-left: 60px;
					width: auto !important;
				}
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.row .value a,
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.row .value input {
					margin-top: 5px;
					margin-bottom: 5px;
				}
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.subrow div.title,
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.subrow div.value-container {
					display:inline-block;
				}
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo .input_data {
					width: 50px;
					display: inline-block;
				}
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo .valign {
					vertical-align: top;
				}
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.select2 .select2-choice {
					background-image: none;
					background: inherit;
					min-height: 1.6em;
					max-height: 1.6em;
				}
				div.cpw-forms-fms-profile div#cpw-forms-fms-profile-tab-roo div.row div.note
				{
					font-size: 0.8em;
				}
			</style>
			<b>Сведения о деятельности коллективного средства размещения</b>
			<div class="note">(данные попадают в статистическую отчетность)</div>
			<div class="data">
				<div class="row">
					<div class='title' style="vertical-align:bottom">Период функционирования:</div>
					<div class="value-container">
						<div class='select2 value' id="cpw_fms_profile_PeriodOperation" <%= obj.select2_attrs('PeriodOperation') %> ></div>
					</div>
				</div>

				<div class="row subrow hidden" id="period_operation">
					<div class='title'>начало сезона:</div>
					<div class="value-container">
						<input type="text" class="datepicker can_be_0 required_empty" style="width:152px;" id="cpw_fms_profile_StartPeriod" maxlength="10" value="<%= obj.txt('StartPeriod') %>" />
					</div>
					<div class='title' style="margin-left:18px;">окончание сезона:</div>
					<div class="value-container">
						<input type="text" class="datepicker can_be_0 required_empty" style="width:152px;" id="cpw_fms_profile_FinishPeriod" maxlength="10" value="<%= obj.txt('FinishPeriod') %>" />
					</div>
				</div>

				<div class="row">
					<div class='title'>Номеров всего:</div>
					<div class="value-container">
						<input type="text" value="<%= obj.txt('RoomAllCount') %>" class="input_data" />
					</div>
					<div class='title' style="text-align: left;">, из них </div>
				</div>
				<div class="row subrow">
					<div class='title valign'>высшей категории:</div>
					<div class="value-container valign">
						<input type="text" value="<%= obj.txt('RoomHighestCategory') %>" class="input_data" />
					</div>
					<div class='title valign' style="margin-left:0px; width:462px;">для людей с ограниченными возможностями:</div>
					<div class="value-container valign">
						<input type="text" value="<%= obj.txt('RoomSpecialCategory') %>" class="input_data" />
					</div>
				</div>

				<div class="row">
					<div class='title'>Площадь номеров:</div>
					<div class="value-container">
						<input type="text" value="<%= obj.txt('RoomArea') %>" class="input_data" />
					</div>
					<div class='title' style="text-align: left;">&nbsp;кв.м.</div>
				</div>
				<div class="row">
					<div class='title'>Число мест</div>
					<div class="value-container">
						<input type="text" value="<%= obj.txt('CountPlaces') %>" class="input_data" />
					</div>
				</div>

				<div class="row">
					<div class='title' style="vertical-align:bottom">Тип КСР:</div>
					<div class="value-container">
						<div class='select2 value' id="cpw_fms_profile_HotelType" <%= obj.select2_attrs('HotelType') %> ></div>
					</div>
				</div>

				<div class="row">
					<div class='title' style="vertical-align:bottom">Категория КСР:</div>
					<div class="value-container">
						<div class='select2 value' id="cpw_fms_profile_HotelCategory" <%= obj.select2_attrs('HotelCategory') %> ></div>
					</div>
				</div>

				<div class="row">
					<div class='title' style="vertical-align:bottom">Система налогообложения:</div>
					<div class="value-container">
						<div class='select2 value' id="cpw_fms_profile_TaxSystem" <%= obj.select2_attrs('TaxSystem') %> ></div>
					</div>
				</div>

				<div class="row wellness_profile hidden">
					<div class='title'>Оздоровительный профиль:</div>
					<div class="note">(заполняют только санаторно-курортные организации)</div>
					<div class="value-blok"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="tabs-footer"></div>
</div>