<style type="text/css">
#cpw_form_modal_Upload {
	display: none;
}
.cpw_form_modal_Upload label {
	cursor: pointer;
	margin: 0 5px;
	text-decoration: underline;
}
.cpw_form_modal_Upload li {
	list-style-type: none;
}
#cpw_form_modal_PreviewImage .remove_img {
	color: gray;
	cursor: pointer;
	font-size: 13px;
	margin-left: 20px;
	vertical-align: top;
}
#cpw_form_modal_PreviewImage .remove_img:hover {
	color: red;
	text-decoration: underline;
}
</style>
<div style="font-size:16px;font-family:CPW-normal;width:100%">
	<div class="cpw_form_modal_Upload cpw-fms-forms drop-block-file">

		<div class="row">
			<div class="column_1_title">Файл:</div>
			<div class="column_2_data">
				<label>Выбрать файл для загрузки<input id="cpw_form_modal_Upload" type="file" name="file" multiple="true" accept="image/*" /></label>
			</div>
		</div>
		<div id="cpw_form_modal_PreviewImage"></div>
	</div>
</div>