<style>
div.cpw-fms-russ-addr-free
{
	width: 700px;
	margin: 0 auto;
}
div.cpw-fms-russ-addr-free div.row
{
	display: inline-block;
	width: 100%;
}
div.cpw-fms-russ-addr-free div.item
{
	display: inline-block;
}
div.cpw-fms-russ-addr-free div.row
{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
div.cpw-fms-russ-addr-free div.item div.title
{
	display: inline-block;
	padding-left: 3px;
}
div.cpw-fms-russ-addr-free div.item.firstcol
{
	width: 340px;
}
div.cpw-fms-russ-addr-free div.item input
{
	width: 205px;
}
div.cpw-fms-russ-addr-free div.item div.title
{
	width: 145px;
}
div.cpw-fms-russ-addr-free div.item.allcols div.title,
div.cpw-fms-russ-addr-free div.item.firstcol div.title
{
	width: 95px;
}
div.cpw-fms-russ-addr-free div.item.firstsecondcol div.title
{
	width: 340px;
}
div.cpw-fms-russ-addr-free div.item.firstsecondcol input
{
	width: 350px;
}
div.cpw-fms-russ-addr-free div.item.allcols input
{
	width: 595px;
}
</style>
<div class="cpw-fms-russ-addr-free">

	<div class="row">
		<div class="item firstcol">
			<div class="title">Регион:</div>
			<input type="text" class="encoding_date" value="<%= obj.txt('Регион') %>"/>
		</div>

		<div class="item secondcol">
			<div class="title">Район:</div>
			<input type="text" class="encoding_date" value="<%= obj.txt('Район') %>"/>
		</div>
	</div>

	<div class="row">
		<div class="item firstcol">
			<div class="title">Город:</div>
			<input type="text" class="encoding_date" value="<%= obj.txt('Город') %>"/>
		</div>

		<div class="item secondcol">
			<div class="title">Населённый пункт:</div>
			<input type="text" class="encoding_date" value="<%= obj.txt('НаселенныйПункт') %>"/>
		</div>
	</div>

	<div class="row">
		<div class="item firstsecondcol">
			<div class="title">Городской район / дополн. территория:</div>
			<input type="text" class="encoding_date" value="<%= obj.txt('ГородскойРайон') %>"/>
		</div>
	</div>

	<div class="row">
		<div class="item allcols">
			<div class="title">Улица:</div>
			<input type="text" class="encoding_date" value="<%= obj.txt('Улица') %>"/>
		</div>
	</div>
</div>