<div>
<style>
	div.user div.row
	{
		margin: 5px 0 5px 0;
	}
	div.user div.header1
	{
		width: 108px;
		float:left;
		text-align:right;
	}
	div.user div.after_header1
	{
		margin: 0;
		padding-left: 110px;
	}
	div.user div.header2
	{
		display: inline-block;
		width: 13%;
		text-align: right;
		margin:0;
		padding-right:1%;
	}
	div.user div.input3
	{
		display: inline-block;
		width: 24%;
		margin:0;
	}
	div.user div.input3 input
	{
		width: 100%;
		margin:0;
	}
	div.user input.full
	{
		width: 100%;
	}
</style>
<div class="user">
	<div class="row">
		<div class="header1">Фамилия:</div>
		<div class="after_header1">
			<div class="input3">
				<input type="text" value="<%= obj.txt('LastName') %>" />
			</div>
			<div class="header2">Имя:</div>
			<div class="input3">
				<input type="text" value="<%= obj.txt('FirstName') %>" />
			</div>
			<div class="header2">Отчество:</div>
			<div class="input3">
				<input type="text" value="<%= obj.txt('MiddleName') %>" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="header1">Должность:</div>
		<div class="after_header1">
			<input class="full" type="text" value="<%= obj.txt('JobTitle') %>" />
		</div>
	</div>
</div>
<div>
