<div>
<style>
	@font-face {
		font-family: "CPW-normal";
		src: url("images/Normal.eot");
	}
	@font-face {
		font-family: "CPW-bold";
		src: url("images/Bold.eot");
	}
	div.tab_title
	{
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	div.profile_tab_content
	{
		margin-left: 20px;
	}
	div.extension
	{
		border-top: 1px solid #cccccc;
		margin-top: 20px;
		padding-top: 5px;
	}
</style>
<div class="profile">
	<div class="tab_title">Настройки рабочего места</div>
	<div id="profile-tabs" style="font-family:CPW-normal">
		<ul>
			<li><a href="#profile-tab-1"><span id="title-tab-1">Общие</span></a></li>
			<%
				var indexTab = 2;
				for (var extension_key in obj.options.extensions) { 
					var extension= obj.options.extensions[extension_key];
			%>
				<li><a href="#profile-tab-<%= indexTab %>"><span id="title-tab-<%= indexTab %>"><%= extension.Title %></span></a></li>
			<% 
					indexTab++;
				} 
			%>
		</ul>
		<div id="profile-tab-1">
			<div id="profile_common_tab_content" class="profile_tab_content"></div>
		</div>
		<%
			var indexTab = 2;
			for (var extension_key in obj.options.extensions) { 
				var extension= obj.options.extensions[extension_key];
		%>
		<div id="profile-tab-<%= indexTab %>">
			<div id="profile_<%= extension_key %>_tab_content" class="profile_tab_content"></div>
		</div>
		<% 
				indexTab++;
			} 
		%>
	</div>
</div>
<div><br />