﻿<style>

div.cpw-forms-fms-profile .ui-helper-clearfix:after { padding-bottom: 0; }

div.cpw-forms-fms-profile {
	width: 900px;
	margin: 0 auto;
	font-size: 16px;
}

div.cpw-forms-fms-profile .cpw-grid
{
	width: 99%;
}

div.cpw-forms-fms-profile .note
{
	color: Silver;
	margin-left: 4px;
	text-align: right;
	float:right;
}

div.cpw-forms-fms-profile td.title
{
	vertical-align: top;
	text-align: left;
}

div.cpw-forms-fms-profile td.label
{
	width: 240px;
	vertical-align: top;
	text-align: right;
	color: rgb(136,136,136);
}

div.cpw-forms-fms-profile td.content
{
	vertical-align: top;
	text-align: left;
}

div.cpw-forms-fms-profile td.number
{
	width: 40px;
	vertical-align: top;
	text-align: right;
	color: rgb(136,136,136);
}

div.cpw-fms-official-organ
{
	float: left;
	display: inline-block;
	position: relative;
	width: 100%;
	white-space: normal;
	border: 0;
	background-image: none;
	background: inherit;
}

div.cpw-forms-fms-profile div.cpw-fms-official-organ div.name,
div.cpw-forms-fms-profile div.cpw-fms-official-organ div.code
{
	float: left;
	display: block;
	overflow:hidden;
	padding: 1px;
	margin: 1px;
	border:0;
	position:relative;
	float: left;
	background-image: none;
	background: inherit;
}

div.cpw-forms-fms-profile div.cpw-fms-official-organ div.name
{
	width: 450px;
}

div.cpw-forms-fms-profile div.cpw-fms-official-organ div.code
{
	font-style: italic;
	font-size: 0.8em;
	width: 85px;
	float:right;
	color: Silver;
}
div.cpw-forms-fms-profile div.right-edit
{
	float: right;
	margin: 5px 0px;
}
div.cpw-forms-fms-profile div.stamp
{
	font-weight:bold;
	margin-bottom: 10px;
	margin-top: 10px;
}
</style>
<div id="<%= obj.options.extension_key %>" class="cpw-forms-fms-profile cpw-forms-styles-default">
	<table class="cpw-grid">
		<tbody>
			<tr>
				<td colspan="2" class="title">
					<b>Текущие настройки заполнения документов "по умолчанию"</b>
					<span class="note">(можно менять в начале каждой смены)</span>
				</td>
			</tr>
			<tr>
				<td class="label">Ответственный сотрудник, проводящий регистрацию</td>
				<td class="content"><%= obj.model.CurrentColaborator && obj.model.CurrentColaborator.text ?obj.model.CurrentColaborator.text : ''  %></td>
			</tr>
			<tr>
				<td class="label">Адрес размещения (прибытия)</td>
				<td class="content"><%= obj.model.CurrentAddressOfPlacement && obj.model.CurrentAddressOfPlacement.text ?obj.model.CurrentAddressOfPlacement.text : '' %></td>
			</tr>
		</tbody>
	</table>

	<table class="cpw-grid" style="margin-top: 15px">
		<tbody>
			<tr>
				<td colspan="2" class="title">
					<b>Данные о принимающей стороне</b>
					<span class="note">(будут вписываться в документы)</span>
				</td>
			</tr>
			<tr>
				<td class="label">Фирменное название</td>
				<td class="content"><%= obj.model.OrganizationName %>
				</td>
			</tr>
			<tr>
				<td class='label'>ОКПО</td>
				<td class="content"><%= obj.model.OKPO %></td>
			</tr>
			<tr>
				<td class='label'>Телефон</td>
				<td class="content"><%= obj.model.OrganizationPhone %></td>
			</tr>
			<tr>
				<td class='label'>Фактический адрес офиса</td>
				<td class="content"><%= obj.model.AddressRealAbonent && obj.model.AddressRealAbonent.text ? obj.model.AddressRealAbonent.text : '' %></td>
			</tr>
			<tr>
				<td class='label'>Подразделение ФМС</td>
				<td>
					<div class="cpw-fms-official-organ">
						<div class="code"><%= null==obj.model.subdivision || !obj.model.subdivision.row  ? '' : 'код: ' + obj.model.subdivision.row.CODE %></div>
						<div class="name"><%= null==obj.model.subdivision || !obj.model.subdivision.row ? '' : obj.model.subdivision.row.NAME %></div>
					</div>
				</td>
			</tr>
			<tr>
				<td class='label'>Налоговый орган</td>
				<td>
					<div class="cpw-fms-official-organ">
						<div class="code"><%= null==obj.model.sono || !obj.model.sono.row  ? '' : 'код: ' + obj.model.sono.row.CODE %></div>
						<div class="name"><%= null==obj.model.sono || !obj.model.sono.row ? '' : obj.model.sono.row.NAME %></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="cpw-grid" style="margin-top: 15px">
		<tbody>
			<tr>
				<td colspan="2" class="title">
					<b>Регистрационные данные в ППО "Территория"</b>
					<span class="note">(выдаются при регистрации, указываются в электронных документах)</span>
				</td>
			</tr>
			<tr>
				<td class="label">Идентификатор поставщика</td>
				<td class="content"><%= obj.model.supplierInfo %></td>
			</tr>
			<tr>
				<td class="label">Идентификатор пользователя</td>
				<td class="content"><%= obj.model.employee_ummsId %></td>
			</tr>
			<tr>
				<td class="label">Код гостиницы</td>
				<td class="content"><%= obj.model.hotel_id %></td>
			</tr>
		</tbody>
	</table>

	<table class="cpw-grid" style="margin-top: 15px">
		<tbody>
			<tr>
				<td colspan="2" class="title">
					<b>Ответственные сотрудники, осуществляющие учёт</b>
					<span class="note">(могут вписываться в документы)</span>
				</td>
			</tr>
<% if (obj.model.ResponsibleOfficiers && 0 < obj.model.ResponsibleOfficiers.length) { %>
<%	 for(var i=0; i < obj.model.ResponsibleOfficiers.length; i++) { %>
			<tr>
				<td class="number"><%= i + 1 %>.</td>
				<td><%= (obj.model.ResponsibleOfficiers[i]).text %></td>
			</tr>
<%	 } %>
<% } %>
			<tr>
				<td class="label">Запрашивать <br>ф.и.о. ответственного лица <br>при создании отчета</td>
				<td class="content"><%= true == obj.model.CheckResponsibleOfficier ? 'Да' : 'Нет' %></td>
			</tr>
		</tbody>
	</table>

	<table class="cpw-grid" style="margin-top: 15px">
		<tbody>
			<tr>
				<td colspan="2" class="title">
					<b>Адреса размещения</b>
					<span class="note">(могут вписываться в документы как адреса пребывания)</span>
				</td>
			</tr>
			<tr>
<% if (obj.model.AddressesOfPlacement && 0 < obj.model.AddressesOfPlacement.length) { %>
<%	 for(var i=0; i < obj.model.AddressesOfPlacement.length; i++) { %>
			<tr>
				<td class="number"><%= i + 1 %>.</td>
				<td><%= (obj.model.AddressesOfPlacement[i]).text %></td>
			</tr>
<%	 } %>
<% } %>
			</tr>
		</tbody>
	</table>

	<table class="cpw-grid" style="margin-top: 15px">
		<tbody>
			<tr>
				<td colspan="2" class="title">
					<b>Сведения о деятельности коллективного средства размещения</b>
					<span class="note">(данные попадают в статистическую отчетность)</span>
				</td>
			</tr>
			<tr>
				<td class="label">Период функционирования</td>
				<td class="content">
					<%= !obj.model.PeriodOperation ? '' : obj.model.PeriodOperation.text  %>
					<% if (obj.model.PeriodOperation && 'p' == obj.model.PeriodOperation.id) {%>
						(с <%= obj.model.StartPeriod %> по <%= obj.model.FinishPeriod %>)
					<% } %>
				</td>
			</tr>
			<tr>
				<td class="label">Номеров всего</td>
				<td class="content"><%= obj.model.RoomAllCount %>, из них </td>
			</tr>
			<tr>
				<td class="label">высшей категории</td>
				<td class="content"><%= obj.model.RoomHighestCategory %></td>
			</tr>
			<tr>
				<td class="label">для людей с ограниченными возможностями</td>
				<td class="content"><%= obj.model.RoomSpecialCategory %></td>
			</tr>
			<tr>
				<td class="label">Площадь номеров</td>
				<td class="content"><%= obj.model.RoomArea %> кв.м.</td>
			</tr>
			<tr>
				<td class="label">Число мест</td>
				<td class="content"><%= obj.model.CountPlaces %></td>
			</tr>
			<tr>
				<td class="label">Тип КСР</td>
				<td class="content">
					<%= !obj.model.HotelType ? '' : obj.model.HotelType.text  %>
				</td>
			</tr>
			<tr>
				<td class="label">Категория КСР</td>
				<td class="content">
					<%= !obj.model.HotelCategory ? '' : obj.model.HotelCategory.text  %>
				</td>
			</tr>
			<tr>
			<td class="label">Система налогообложения</td>
				<td class="content">
					<%= !obj.model.TaxSystem ? '' : obj.model.TaxSystem.text  %>
				</td>
			</tr>
<% if (!!obj.model.WellnessProfile && 0 < obj.model.WellnessProfile.length) { %>
			<tr>
				<td class="label">Оздоровление</td>
				<td class="content">
<%	 for(var i=0; i < obj.model.WellnessProfile.length; i++) { %>
<%=    (i == 0 ? '' : ', ') %>
<%=    (obj.model.WellnessProfile[i]).text %>
<%	 } %>
				</td>
			</tr>
<% } %>
		</tbody>
	</table>

	<div class="stamp">
		<label>
			<input type="checkbox" id="cpw-fms-print-blue-stamp-on-migrationn" 
				<% if ('no'!=$.cookie("print-blue-stamp-on-migrationn")) { %>
					checked='checked'
				<% } %>
			/>
			Печатать синий штамп в уведомление о прибытии ИГ или ЛБГ о постановке на учет 
		</label>
	</div>

</div>