<style>
div.colaborator
{
	margin-top:12px;
	font-size: 16px;
}
div.colaborator div.np_title
{
	width: 160px;
	display: inline-block;
	text-align: right;
	float:left;
}
div.colaborator div.np_title2
{
	width: 140px;
	display: inline-block;
	text-align: right;
	float:left;
}

div.colaborator div.np_titleauto
{
	display: inline-block;
	text-align: right;
}
div.colaborator .np_data
{
	width:160px;
	display: inline-block;
	float:left;
}
div.colaborator>div
{
	padding: 3px;
	min-height: 30px;
}
div.np_data>input[type='text']
{
	width: 154px;
}
div.colaborator div.foreign-label
{
	color: silver;
}

div.select2-choice
{
	border:0;
	background:none;
	padding: 0;
	text-decoration: none !important;
	color: black;
}

div.select2-choice div
{
	background:none;
	border-left-color:White;
}

div.select2-container .select2-choice div b
{
	background:none;
}

div.select2-choice:hover
{
	background-color:#eeeeee;
}

div.select2-result-label div.cpw-fms-official-organ
{
	display: inline-block;
	width: 100%;
	background-image: none;
	background: inherit;
}

div.select2-result-label div.cpw-fms-official-organ div.code
{
	float: right;
	height: 100%;
	padding: 1px;
	margin: 1px;
	color: Silver;
	font-style: italic;
	font-size: 0.8em;
	background-image: none;
	background: inherit;
}

div.select2 div.cpw-fms-official-organ
{
	float: left;
	display: inline-block;
	position: relative;
	width: 515px;
	white-space: normal;
	border: 0;
	background-image: none;
	background: inherit;
}

div.select2 div.cpw-fms-official-organ div.name,
div.select2 div.cpw-fms-official-organ div.code
{
	float: left;
	display: block;
	overflow:hidden;
	padding: 1px;
	margin: 1px;
	border:0;
	position:relative;
	float: left;
	background-image: none;
	background: inherit;
}

div.select2 div.cpw-fms-official-organ div.name
{
	width: 360px;
}

div.select2 div.cpw-fms-official-organ div.code
{
	font-style: italic;
	font-size: 0.8em;
	width: 80px;
	float: left;
	color: Silver;
}

div.select2 .select2-choice
{
	background-image: none;
	background: inherit;
	min-height: 3.5em;
	max-height: 3.5em;
}

input.error, .select2-container.error > a {
	background: #ffbebe !important;
}
</style>
<div class="colaborator">

	<div>
		<div class='np_title' >Фамилия:&nbsp; </div><div class="np_data"><input type="text" id="col_LastName" value="<%= obj.txt('LastName') %>" /></div>
		<div class='np_title2'>Имя:&nbsp;     </div><div class="np_data"><input type="text" id="col_FirstName" value="<%= obj.txt('FirstName') %>" /></div>
		<div class='np_title2'>Отчество:&nbsp;</div><div class="np_data"><input type="text" id="col_MiddleName" value="<%= obj.txt('MiddleName') %>" /></div>
	</div>

	<div>
		<div class='np_title foreign-label' >лат:&nbsp; </div><div class="np_data"><input type="text" id="col_LastName_latin" value="<%= obj.txt('LastName_latin') %>" /></div>
		<div class='np_title2 foreign-label'>лат:&nbsp; </div><div class="np_data"><input type="text" id="col_FirstName_latin" value="<%= obj.txt('FirstName_latin') %>" /></div>
		<div class='np_title2 foreign-label'>лат:&nbsp; </div><div class="np_data"><input type="text" id="col_MiddleName_latin" value="<%= obj.txt('MiddleName_latin') %>" /></div>
	</div>

	<div>
		<div class='np_title'>Пол:&nbsp;</div>
		<div class="np_data" style="margin:0;width:100px;">
			<label>М<input type="radio" name="gender" <%= obj.radio_attrs('Sex','M') %> /></label>
			<label>Ж<input type="radio" name="gender" <%= obj.radio_attrs('Sex','F') %> /></label>
		</div>
		<div class='np_title2' style="width:200px;">Дата&nbsp;рождения:&nbsp;</div>
		<div class="np_data"><input type="text" value="<%= obj.txt('Birthday') %>" id="fms_user_birthday" class="input-datepicker" /></div>
		<div class='np_title2'>Телефон:&nbsp;</div><div class="np_data"><input type="text" value="<%= obj.txt('Phone') %>" maxlength="11"/></div>
	</div>

	<div>
		<div class="np_title" >Место рождения:&nbsp;</div>
		<a href="#" id="fms_user_birthplace"  style="width:755px" <%= obj.a_modal_attrs('Birthplace') %> >Кликните, чтобы указать адрес</a>
	</div>

	<div>
		<div class="np_title">Гражданство:&nbsp;</div>
		<div class="np_data"><input class="column_edit" style="width:154px" id="cpw_form_Nationality" /></div>
		<div class='np_title' style="width:141px;">Документ:&nbsp;</div>
		<div class="np_data"><input class="column_edit" style="width:457px" id="cpw_form_DocumentType_Company" /></div>
	</div>

	<div>
		<div class='np_title'>Серия:&nbsp;</div>
		<div class="np_data"><input type="text" value="<%= obj.txt('user_document_serie') %>" id="user-document-serie" /></div>
		<div class='np_title2'>Номер:&nbsp;</div>
		<div class="np_data"><input type="text" value="<%= obj.txt('user_document_number') %>" /></div>
		<div class='np_title2'>Дата&nbsp;выдачи:&nbsp;</div>
		<div class="np_data"><input type="text" value="<%= obj.txt('user_document_dateFrom') %>" class="input-datepicker"/></div>
	</div>

	<div>
		<div class='np_title' style="width:760px">Действителен&nbsp;до:&nbsp;</div>
		<div class="np_data"><input type="text" value="<%= obj.txt('user_document_dateTo') %>" class="input-datepicker"/></div>
	</div>

	<div style="display:inline-block;width:100%;">
		<div class="np_title" style="vertical-align:top;">Выдан:</div>
		<div class="np_data" style="width:440px;display:inline-block;">
			<div class="column_edit select2 value" style="width:515px;height:54px !important;" id="cpw_form_user_document_givenby" <%= obj.select2_attrs('user_document_givenby') %>></div>
			<textarea class="column_edit" style="width:515px;height:50px;display:none;padding-top: 5px;" id="cpw_form_user_document_givenby_text" <%= obj.textarea_attrs('user_document_givenby_text') %> ></textarea>
		</div>
		<div style="width:160px; color: gray; vertical-align:top; float:right; display:inline-block;">
			<label for="cpw_form_user_document_givenby_dict">из справочника</label>
			<input type="checkbox" id="cpw_form_user_document_givenby_dict" <%= obj.checkbox_attrs('user_document_givenby_dict') %> />
		</div>
	</div>

	<div>
		<div class='np_title'>Адрес&nbsp;прописки:&nbsp;</div>
		<a href="#" <%= obj.a_modal_attrs('AddressLegal') %> >Кликните, чтобы указать адрес</a>
	</div>

	<div>
		<div class='np_title' style="width:460px;">Документ, подтверждающий полномочия сотрудника:&nbsp;</div>
		<div class="np_data"><input type="text" style="width:454px" value="<%= obj.txt('user_document_proxy_type_company') %>" maxlength="46" /></div>
	</div>

	<div>
		<div class='np_title'>Серия:&nbsp;</div>
		<div class="np_data"><input type="text" value="<%= obj.txt('user_document_proxy_serie') %>" id="user-document-proxy-serie" /></div>
		<div class='np_title2'>Номер:&nbsp;</div>
		<div class="np_data"><input type="text" value="<%= obj.txt('user_document_proxy_number') %>" /></div>
		<div class='np_title2'>Дата&nbsp;выдачи:&nbsp;</div>
		<div class="np_data"><input type="text" value="<%= obj.txt('user_document_proxy_dateFrom') %>" class="input-datepicker" /></div>
	</div>

	<div>
		<div class='np_title' style="width:760px">Действителен&nbsp;до:&nbsp;</div>
		<div class="np_data"><input type="text" value="<%= obj.txt('user_document_proxy_dateTo') %>" class="input-datepicker" /></div>
	</div>

</div>