<div>
<style>
	div.fms_questionary_profiled div.data1
	{
	    margin-left: 30px;
	    font-weight: bold;
	}
	div.fms_questionary_profiled div.data
	{
	    margin-left: 30px;
	}
	div.fms_questionary_profiled
	{
		width:900px;
		margin:0 auto;
	}
</style>
<div class="fms_questionary_profiled">
	<div style="width:100%;margin-bottom:10px">
		<b>Адресный листок убытия</b> (Форма №7):<br/>
		Корешок (данные которые не редактируются, а берутся из профиля пользователя вносящего данные):
	</div>
	<div class="data">
		<div class="row">
			<div class="header1">Территориальный&nbspорган / структурное&nbspподразделение&nbspФМС:</div>
			<div class="data1">
				"<%= obj.subdivision.text %>" (id: <%= obj.subdivision.id %>)
			</div>
		</div>
		<div class="row">
			<div class="header1">Дата составления документа:</div>
			<div class="data1">
				"<%= obj.dateComposing %>"
			</div>
		</div>
        <div class="row">
			<div class="header1">Ответственное лицо:</div>
			<div class="data1">
				"<%= obj.fioComposing %>"
			</div>
		</div>
	</div>
</div>
</div>