<style>

@font-face
{
	font-family: "CPW-normal";
	src: url("images/Normal.eot");
}

@font-face
{
	font-family: "CPW-bold";
	src: url("images/Bold.eot");
}

.ui-dialog .ui-dialog-buttonset
{
	width: auto;
}
.ui-dialog .ui-dialog-buttonset .ui-button
{
	float: left;
}

div.cpw_1ksr_form
{
	width:900px;
	margin:0 auto;
}

.row
{
	margin-top: 5px;
	margin-bottom: 5px;
	display:inline-block;
	width:100%;
}

.row_splitter
{
	display:inline-block;
	width:100%;
	height:1px;
	margin-top: 2px;
	margin-bottom: 5px;
	background: #eeeeee;
}

.year-control
{
	width: 100px;
	margin-left: 10px;
	margin-right: 5px;
}

.note-default
{
	color: rgba(176,176,176,1);
}

.note-error
{
	color: red;
}
</style>

<div style="font-size:16px;font-family:CPW-normal">
	<div class="cpw_1ksr_form cpw-fms-forms">
		<div class="1ksr-wrapper">
			<div style="width:100%">
				<h2>Сведения о деятельности коллективного средства размещения<br>
				<% if (obj.model && obj.model.HotelName) { %>
				"<%= obj.model.HotelName %>"
				<% } %>
				</h2>
			</div>

			<div class="row clearfix">
				<form id="1ksr-search">
					<table id="search-table" class="form_table">
						<tbody>
							<tr>
								<td>
									за
									<div class='select2 value year-control' style="width:150px;" id="cpw_1ksr_ReportingPeriodQuarter" <%= obj.select2_attrs('ReportingPeriodQuarter') %> ></div>
									квартал
									<div class='select2 value year-control' id="cpw_1ksr_ReportingPeriod" <%= obj.select2_attrs('ReportingPeriod') %> ></div>
									год
								</td>
							</tr>
							<tr>
								<td>
									с периодом функционирования − <b><%= !obj.get_model_field_value('PeriodOperation') ? "не указан" : obj.get_model_field_value('PeriodOperation').text %></b>
								</td>
							</tr>
							<tr class="row-period-operation">
								<td>
									с
									<input class="w-120 d-picker start" type="text" style="position: relative; margin: 0px 6px 0px 6px;"
										   id="cpw_1ksr_ReportingPeriodFrom" maxlength="10" value="<%= obj.txt('ReportingPeriodFrom') %>" />
									по
									<input class="w-120 d-picker finish" type="text" style="position: relative; margin: 0px 5px 0px 6px;"
										   id="cpw_1ksr_ReportingPeriodTill" maxlength="10" value="<%= obj.txt('ReportingPeriodTill') %>" />
									включительно
								</td>
							</tr>
							<tr>
								<td>
									<span class="note-default" id="cpw_1ksr_note"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
</div>
