<style>
div.cpw-fms-addr-variants
{
	width: 700px;
	margin: 0 auto;
}
div.cpw-fms-addr-variants>div.select2
{
	padding-bottom: 30px;
}
div.cpw-fms-addr-variants div.row
{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
div.cpw-fms-addr-variants div.item
{
	display: inline-block;
}
div.cpw-fms-addr-variants div.item.document div.title
{
	display: inline-block;
	padding-left: 3px;
}
div.cpw-fms-addr-variants div.item.document input
{
	width: 100%;
}
</style>
<div class="cpw-fms-addr-variants">

	<div class="select2">
		<div id="cpw-fms-addr-variants-select2" ></div>
	</div>

	<div class="address">
		<%= obj.fields_control('address') %>
	</div>

	<div class="row">
		<div class="item document">
			<div class="title">Документ, подтверждающий право пользования жилым или иным помещением:</div>
			<input type="text" class="encoding_date" id="document-for-address"/>
		</div>
	</div>
</div>